/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
/composer.phar
/app/data.db3
!/var/cache/dev/instaxer/profiles/.gitkeep
/composer.lock
/config/config.php
/bin/symfony_requirements
/bower_components/
/var/SymfonyRequirements.php
/web/instaxer/profiles/*
