app/config/parameters.yml
var/*
!var/cache
var/cache/*
!var/cache/.gitkeep
!var/logs
var/logs/*
!var/logs/.gitkeep
!var/sessions
var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
vendor/
.idea
composer.phar
app/data.db3
!var/cache/dev/instaxer/profiles/.gitkeep
config/config.php
bin/symfony_requirements
bower_components/
var/SymfonyRequirements.php
node_modules/
bash.exe.stackdump
web/instaxer/
web/bundles/
coverage-dir/
tests/coverage/*
app/storage/*
!app/storage/.gitkeep
!var/cache/instaxer/profiles/.gitkeep
!web/instaxer/profiles/.gitkeep
!/tests/coverage/.gitkeep
!/web/instaxer/profiles/marcin/.gitkeep

