<div class="box is-fullwidth">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p class="title">{{ product.type }}</p>
                <p class="subtitle">{{ (product.price / 100)|number_format(2) }} zł</p>
            </div>
        </div>
    </article>
</div>
