<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <article class="message is-danger">
            <div class="message-header">
                <p><strong>Błąd</strong>! <a></a></p>
                <button class="delete"></button>
            </div>
            <div class="message-body">
            </div>
        </article>
    </div>
    <button class="modal-close is-large"></button>
</div>
