{% extends '@LiqsterHomePage/base.html.twig' %}

{% block fos_user_content %}

    <div class="container input-field">
        <div class="row">

            <div class="col l6 offset-l3">

                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-primary" type="submit"
                           value="{{ 'registration.submit'|trans({}, 'main') }}"/>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock fos_user_content %}