<section id="about" class="full-section about-section">
    <div class="container">
        <div class="row">
            <div class="center col-lg-12">
                <h1 class="header black-text">Poznaj nas bliżej...</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-white-text"><i class="material-icons">trending_up</i></h2>
                    <h5 class="center">Co tak właściwie oferujemy?</h5>

                    <p class="light">Oferujemy użytkownikom stworzony przez nas i poddany półrocznym testom system
                        symulowania aktywności na Instagramie. Pozostawiane przez nas polubienia i komentarze
                        zachęcą innych użytkowników do odwiedzin Twojego profilu, tym samym znacznie zwiększając
                        jego zasięg.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-white-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Jesteśmy skupieni na użytkowniku!</h5>

                    <p class="light">Dzięki nowoczesnemu użyciu zasad i elementów projektowania materiałów,
                        stworzyliśmy dla użytkowników intuicyjny w obsłudze serwis pozwalający korzystać Tobie z
                        programu liqster. Możesz używać naszej strony na dowolnym urządzeniu, zarówno na komputerze
                        jak i na telefonie, czy tablecie, liqster pozostaje w pełni funkcjonalny!</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-white-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Przede wszystkim rozwój!</h5>

                    <p class="light">Od momentu powstania pierwszego zarysu programu po dziś dzień, cały czas się
                        rozwijamy. Jako nasz użytkownik niejednokrotnie poczujesz i zobaczysz zmiany na naszej
                        stronie, nasza ciągła praca nad rozwojem liqster.pl jest właśnie dla Ciebie! Zadowolenie
                        naszych użytkowników jest naszym priorytetem, wciąż szukamy nowych rozwiązań aby je
                        maksymalizować! </p>
                </div>
            </div>
        </div>
    </div>
</section>
