{% spaceless %}
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#3c404d",
                        "text": "#d6d6d6"
                    },
                    "button": {
                        "background": "transparent",
                        "text": "#8bed4f",
                        "border": "#8bed4f"
                    }
                },
                "showLink": false,
                "type": "opt-in",
                "content": {
                    "message": "<h4>INFORMACJA DOTYCZĄCA PLIKÓW COOKIES</h4>" +
                    "<p>Informujemy, iż w celu optymalizacji treści dostępnych w naszym serwisie, dostosowania ich do Waszych indywidualnych potrzeb korzystamy z informacji zapisanych za pomocą plików cookies na urządzeniach końcowych użytkowników. Pliki cookies użytkownik może kontrolować za pomocą ustawień swojej przeglądarki internetowej. Dalsze korzystanie z naszego serwisu internetowego, bez zmiany ustawień przeglądarki internetowej oznacza, iż użytkownik akceptuje stosowanie plików cookies.</p>",
                    "dismiss": "Odrzuć",
                    "allow": "Akceptuj"
                }
            })
        });
    </script>
{% endspaceless %}
