<section id="experience" class="hero is-dark is-fullheight is-bold">
    <div class="hero-body hero-section">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-one-third-desktop has-text-centered">
                    <h1 class="title experienceTitle">Użytkownicy</h1>
                    <div class="experienceInfo">192</div>
                </div>
                <div class="column is-one-third-desktop has-text-centered">
                    <h1 class="title experienceTitle">Aktywne konta Instagram</h1>
                    <div class="experienceInfo">243</div>
                </div>
                <div class="column is-one-third-desktop has-text-centered">
                    <h1 class="title experienceTitle">Ilość aktywności</h1>
                    <div class="experienceInfo">85425</div>
                </div>
            </div>
        </div>
    </div>
</section>
