{% extends '@LiqsterHomePage/base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-body terms">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third">
                        <aside class="menu">
                            <p class="menu-label">
                                Przejdź do:
                            </p>
                            <ul class="menu-list">
                                <li><a href="#howToStart">Jak zacząć?</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="column">
                        <p class="title is-3" id="howToStart">Jak zacząć?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non leo id mauris lobortis
                            fringilla nec eget quam. Nunc gravida ex purus, quis ultricies mi facilisis non. In hac
                            habitasse platea dictumst. Nullam a mollis erat. Vivamus mi nunc, varius a quam in, bibendum
                            tincidunt arcu. Cras tempor tempor porta. Suspendisse id dignissim orci, sit amet
                            scelerisque neque. Maecenas iaculis mauris laoreet, aliquet risus eget, maximus nulla. In
                            mattis dapibus risus eget commodo. Fusce dolor diam, mollis bibendum quam molestie, tempor
                            mattis mi.</p>
                        <ol>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
