{% extends '@LiqsterHomePage/base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-body terms">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third">
                        <aside class="menu">
                            <p class="menu-label">
                                Przejdź do:
                            </p>
                            <ul class="menu-list">
                                <li><a href="#howToStart">Jak zacząć?</a></li>
                                <li><a href="#howToAddAcount">Dodawanie i aktywacja kont</a></li>
                                <li><a href="#howToPayment">Płatności</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="column">
                        <p class="title is-3" id="howToStart">Jak zacząć?</p>
                        <p>Aby aktywować program liqster dla swojego konta z Instagrama musisz być zalogowanym
                            użytkownikiem liqster.pl. Rejestracja wymaga od Ciebie podania adresu email, hasła oraz
                            nazwy użytkowika. Aby ukończyć rejestrację należy wejsć w link, który znajduje się w mailu
                            aktywacyjnym wysłanym na podany przez Ciebie adres email. Ustawienia dotyczące stworzonego
                            przez Ciebie profilu znajdziesz w zakładce z jego nazwą po zalogowaniu. Instagramowe konto
                            przechodząc do "listy kont".</p>
                        <hr>
                        <p class="title is-3" id="howToAddAcount">Dodawanie i aktywacja kont</p>
                        <p>Aby skorzystać z proramu liqster należy go aktywować dla istniejącego już konta na
                            Instagram.com. Konto możnaz listy kont. W
                            liście kont możesz również edytować ustawienia już dodanych kont. Dodawanie oraz aktywacja
                            konta składa się z następującyck kroków:</p>
                        <ol>
                            <li>Podania nazwy konta oraz jego hasła dostępu. Zarówno nazwa jak i hasło muszą być zgodne,
                                z tymi, podanymi na Instagram.com. Jeżeli nie pamiętasz swojego hasła zaktualizuj hasło
                                na Instagramie, po czym ponów dodawanie konta. Jeśli masz pewność, że hasło oraz nazwa
                                użytkownika są poprawne, jednak liqster informuje Cię o błędzie, zaakceptuj
                                powiadomienie o nietypowej aktywności, które najprawdopodobniej zostało do Ciebie
                                wysłane na Instagramie oraz jest widoczne po uruchomieniu aplikacji, po czym ponów
                                dodawanie konta.
                            </li>
                            <li>Wybierz abonament dla swojego konta. Po wyborze abonamentu zostaniesz przekierowany do
                                serwisu Przelewy24 w którym możesz dokonać płatności. Jeżeli nie zapłacisz w tym
                                momencie, możesz to to zrobić później przechodząc przez listę kont do szczegółów konta,
                                oraz używając przycisku "ponów płatność". Twoje kont nie zostanie aktywowane dopóki nie
                                dokonasz płatności.
                            </li>
                            <li>Stwórz listę #tagów dla swojego konta. Jeśli nie podasz #tagów liqster nie będzie
                                poprawnie funkcjonował. #tagi dodać możesz wpisując je samodzielnie, po przecinkach,
                                albo wybierając za pomocą naciśnięcia z listy proponowanych kategorii. #tagi możesz
                                edytować w
                                dowolnym momencie w szczegółach konta.
                            </li>
                            <li>Stwórz listę komentarzy dla swojego konta. Możesz skorzystać z gotowych przykładów lub
                                podać własne, wypisując je po przecinkach. Ten krok nie jest niezbędny do funkcjonowania
                                programu liqster, jednak zwiększa jego efektywność. Tak samo jak w przypadku #tagów
                                możesz w dowolnej chwili edytować listę komentarzy w szczegółach konta.
                            </li>
                            <li>Wybierz pory w jakich liqster będzie dla Ciebie pracował. Możesz zostawić wszystkie
                                godziny aktywne, dla maksymalizacji efektów działania programu nie dezaktywuj więcej niż
                                dwóch okresów czasu.
                            </li>
                        </ol>
                        <p>liqster aktywuje się po zrealizowaniu płatności, informację na temat aktywności Twojego
                            konta znajdziesz w jego szczegółach. Tam rówież możesz zmienić status konta na
                            nieaktywne albo je usunąć. Zmiana statusu konta na nieaktywne nie wpływa na zmianę daty
                            zakończenia abonamentu.
                        </p>
                        <hr>
                        <p class="title is-3" id="howToPayment">Płatności</p>
                        <p>Płatności obsługiwane są przez zewnętrzny serwis <a href="https://przelewy24.pl"
                                                                               target="_blank">Przelewy24</a>.</p>
                        <p>Płatności dokonać można: w trakcie dodawania konta, w szczegółach konta za pomocą przycisku
                            "ponów płatność" w przypadku gdy płatność nie została poprawnie zrealizowana podczas
                            dodawania konta oraz w zakładce <a href="{{ path('profile_billing') }}" target="_blank">płatności</a>.
                        </p>
                        <p>Na podany przez użytkownika adres mailowy zostają wysłane wiadomości w momencie przyjęcia
                            płatności do realizacji oraz po jej zrealizowaniu. Konto zostaje aktywowane automatycznie po
                            ukończeniu płatności, zatem dopiero po otrzymaniu przez użytkownika drugiego
                            powiadomienia. </p>
                        <p>W zakładce <a href="{{ path('profile_billing') }}" target="_blank">płatności</a> możesz
                            zobaczyć biling swoich płatności. Poza płatnościami dokonanymi w przeszłości znajdziesz tam
                            również płatności nadchodzące, które możesz dokonać z góry, na kolejny okres aktywności
                            Twojego konta. </p>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}
