{% extends '@LiqsterHomePage/base.html.twig' %}

{% block header %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="h2-responsive"><a href="{{ path("account_index") }}">Lista kont</a></h2>
                    <h2 class="h2-responsive"><a href="{{ path("account_new") }}">Dodaj konto</a></h2>
                </div>
            </div>
        </div>

    {% else %}

        <section id="intro" class="full-section intro-section">
            <div class="view container-fluid">
                <!--Intro content-->
                <div class="container">
                    <div class="jumbotron">
                        <h1 class="display-3">Hello, world!</h1>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                            attention to featured content or information.</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger
                            container.</p>
                        <p class="lead">
                            <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Learn more</a>
                        </p>
                    </div>
                </div>
                <!--/Intro content-->
            </div>
            <!--/.Mask-->
        </section>

        <!-- About Section -->
        <section id="about" class="full-section about-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>About Section</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- Prices Section -->
        <section id="price" class="full-section price-section">
            <div class="container">
                <div class="row">
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://i2.wp.com/thatnordicfeeling.com/wp-content/uploads/2016/08/Summer16.jpg?resize=1080%2C1080">
                                <span class="card-title">Card Title</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                            class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am
                                    convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="http://www.obsession4fashion.com/wp-content/uploads/2016/12/ANDY-MAC-STREET-LIFESTYLE-PHOTOGRAPHY-6.jpg">
                                <span class="card-title">Card Title</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                            class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am
                                    convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://scontent.cdninstagram.com/t51.2885-15/e35/14295542_863247700476732_4890544320672694272_n.jpg?ig_cache_key=MTM0NTY2NTEyMTA3ODMzNDU2MQ%3D%3D.2">
                                <span class="card-title">Card Title</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                            class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am
                                    convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services Section -->
        <section id="services" class="services-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Services Section</h1>
                    </div>
                </div>
            </div>
        </section>


        <!-- Contact Section -->
        <section id="contact" class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Contact Section</h1>
                    </div>
                </div>
            </div>
        </section>


    {% endif %}

{% endblock %}


{% block body %}

{% endblock %}
