{% extends '@LiqsterHomePage/base.html.twig' %}

{% block header %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="h2-responsive"><a href="{{ path("account_index") }}">Lista kont</a></h2>
                    <h2 class="h2-responsive"><a href="{{ path("account_new") }}">Dodaj konto</a></h2>
                </div>
            </div>
        </div>

    {% else %}

        <section id="intro" class="full-section intro-section">
            <div class="view container-fluid">
                <!--Intro content-->
                <div class="container">
                    <div class="jumbotron">
                        <h1 class="display-3">Hello, world!</h1>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                            attention to featured content or information.</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger
                            container.</p>
                        <p class="lead">
                            <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Learn more</a>
                        </p>
                    </div>
                </div>
                <!--/Intro content-->
            </div>
            <!--/.Mask-->
        </section>

        <!-- About Section -->
        <section id="about" class="full-section about-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>About Section</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- Prices Section -->
        <section id="price" class="full-section price-section">
            <div class="container">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top"
                             src="http://impreza.us-themes.com/wp-content/uploads/img-1-350x350.jpg"
                             height="348"
                             width="348"
                             alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top"
                             src="https://1k96m612hyol3k0gtk3u20vw-wpengine.netdna-ssl.com/wp-content/uploads/2016/01/tU3ptNgGSP6U2fE67Gvy_SYDNEY-162-350x350.jpg"
                             height="348"
                             width="348"
                             alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top"
                             src="https://cdn.shopify.com/s/files/1/0558/6657/t/9/assets/instagram-27.jpg?3552937400428088821"
                             height="348"
                             width="348"
                             alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services Section -->
        <section id="services" class="services-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Services Section</h1>
                    </div>
                </div>
            </div>
        </section>


        <!-- Contact Section -->
        <section id="contact" class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Contact Section</h1>
                    </div>
                </div>
            </div>
        </section>


    {% endif %}

{% endblock %}


{% block body %}

{% endblock %}
