{% extends '@LiqsterHomePage/base.html.twig' %}

{% block header %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2><a href="{{ path("account_index") }}">Lista kont</a></h2>
                    <h2><a href="{{ path("account_new") }}">Dodaj konto</a></h2>
                </div>
            </div>
        </div>
    {% else %}

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h2 class="h2-responsive">Material Design for Bootstrap</h2>
                        <br>
                        <p>Powerful and free Material Design UI KIT</p>
                        <hr>
                        <p>Register for free and get access to amazing framework and beautiful components</p>
                        <a target="_blank" href="http://mdbootstrap.com/getting-started/" class="btn btn-mdb btn-stc">Download
                            <i class="fa fa-download right"></i></a>
                        <a target="_blank" href="http://mdbootstrap.com/material-design-for-bootstrap/"
                           class="btn btn-unique btn-ptc">Learn more <i class="fa fa-book right"></i></a>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block body %}
{% endblock %}
