{% extends '@LiqsterHomePage/base.html.twig' %}

{% block header %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <h2><a href="{{ path("account_index") }}">Lista kont</a></h2>
        <h2><a href="{{ path("account_new") }}">Dodaj konto</a></h2>

    {% endif %}

{% endblock %}

{% block body %}
{% endblock %}
