{% extends '@LiqsterHomePage/base.html.twig' %}

{% block header %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <div class="container">
            <div class="row">

                    <img class="responsive-img" src="{{ asset('asset/img/logo-fill-white.jpg') }}">

                <div class="row">
                    <div class="col l6 center">
                        <h4 class="h2-responsive"><a href="{{ path("account_index") }}">Lista kont</a></h4>
                    </div>
                    <div class="col l6 center">
                        <h4 class="h2-responsive"><a href="{{ path("account_new") }}">Dodaj konto</a></h4>
                    </div>
                </div>
            </div>
        </div>

    {% else %}

        <section id="intro" class="full-section intro-section">
            <div class="view container-fluid">
                <!--Intro content-->
                <div class="container">
                    <div class="row">
                        <div class="col s6">
                            <img class="responsive-img" src="{{ asset('asset/img/logo-white.png') }}">

                        </div>
                        <div class="col s6">
                            <h2 class="white-text">Zwiększ swój zasięg, oszczędź czas!</h2>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    {% endif %}

    <section id="services" class="full-section services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Our Services</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="price" class="full-section price-section">
        <div class="container">
            <div class="col-lg-12">
                <h1>Prices</h1>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://i2.wp.com/thatnordicfeeling.com/wp-content/uploads/2016/08/Summer16.jpg?resize=1080%2C1080">
                            <span class="card-title">Pakiet podstawowy</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                        class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>szacowana cena + to co się przy wyborze pakietu otrzymuje</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="http://www.obsession4fashion.com/wp-content/uploads/2016/12/ANDY-MAC-STREET-LIFESTYLE-PHOTOGRAPHY-6.jpg">
                            <span class="card-title">Pakiet rozszerzony</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                        class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am
                                convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://scontent.cdninstagram.com/t51.2885-15/e35/14295542_863247700476732_4890544320672694272_n.jpg?ig_cache_key=MTM0NTY2NTEyMTA3ODMzNDU2MQ%3D%3D.2">
                            <span class="card-title">Pakiet profesjonalny</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                        class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am
                                convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="full-section about-section">
        <div class="container">
            <div class="row">
                <div class="center col-lg-12">
                    <h1 class="header black-text">O Liqsterze</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-white-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">do wypełnienia</h5>

                        <p class="light">tutaj nie mam pomysłu co wpisać. brak weny. coś o trzech rzeczach które można z
                            tego mieć. lajki, share'y itp...</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-white-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">User Experience Focused</h5>

                        <p class="light">By utilizing elements and principles of Material Design, we were able to create
                            a framework that incorporates components and animations that provide more feedback to users.
                            Additionally, a single underlying responsive system across all platforms allow for a more
                            unified user experience.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-white-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Speeds up development</h5>

                        <p class="light">We did most of the heavy lifting for you to provide a default stylings that
                            incorporate our custom components. Additionally, we refined animations and transitions to
                            provide a smoother experience for developers.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="full-section contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                </div>
            </div>
        </div>
    </section>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                        content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="">Link 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">

        </div>
    </footer>
{% endblock %}


{% block body %}

{% endblock %}
