{% extends '@LiqsterHomePage/base.html.twig' %}

{% block header %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <h1><a href="{{ path("account_new") }}">Dodaj konto</a></h1>

    {% endif %}

{% endblock %}

{% block body %}
{% endblock %}
