<section class="hero is-primary is-bold is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <img src="{{ asset('asset/img/logo.png') }}" class="image">
                </div>
            </div>
            <div class="columns">
                <div class="column is-half is-offset-one-quarter is-centered has-text-centered">
                    <h1 class="title is-hidden">Aby zacząć:</h1>
                    {% if accounts|length != 2 %}
                        <a class="button is-large is-primary is-inverted" href="{{ path('account_new') }}">Dodaj konto
                        </a>
                    {% else %}
                        <a class="button is-large is-primary is-inverted" href="{{ path('account_index') }}">Zarządzaj
                            kontami</a>
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="columns is-two-thirds">
                <div class="column">
                    <h2 class="title">Nasze porady, aby w pełni korzystać z możliwości oferowanych przez
                        liqster.pl:</h2>
                </div>
            </div>
            <div class="columns intro-logged-list">
                <ul class="subtitle">
                    <li><span class="icon is-medium"><i class="fa fa-check"></i></span>Dbaj o jakość Twoich
                        publikacji, to zawartość Twojego konta zdecyduje o zdobyciu
                        obserwatorów.
                    </li>
                    <li><span class="icon is-medium"><i class="fa fa-check"></i></span>Regularnie odpowiadaj na
                        komentarze oraz wiadomości, Twój kontakt z odbiorcami umocni ich
                        przywiązanie!
                    </li>
                    <li><span class="icon is-medium"><i class="fa fa-check"></i></span>Utrzymuj ciągłość publikacji,
                        pamiętaj, że posty generują największe zainteresowanie w ciągu
                        pierwszych godzin od utworzenia.
                    </li>
                    <li><span class="icon is-medium"><i class="fa fa-check"></i></span>Nadaj swojemu kontu unikalny,
                        spójny styl, wielu użytkowników doceni Twoją konsekwentność!
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>