<section class="hero is-primary is-bold is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="{{ asset('asset/img/logo.png') }}" class="image">
                    <h3 class="title">Cieszymy się że jesteś z nami!</h3>
                </div>
                <div class="column">

                    <div class="columns">
                        <div class="column is-10 is-offset-1">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>