<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <div class="content has-text-centered">
                    <h2>Kontakt</h2>
                    <p>
                        <span>Email:</span> <a href="mailto:admin@liqster.pl">admin@liqster.pl</a>
                    </p>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="content has-text-centered">
                    <h2>Media</h2>
                    <a href="https://facebook.com/liqster">
                        <span class="icon is-medium">
                            <i class="fa fa-facebook"></i>
                        </span>
                    </a>
                    <a href="https://instagram.com/liqster">
                        <span class="icon is-medium">
                            <i class="fa fa-instagram"></i>
                        </span>
                    </a>
                    <a href="https://twitter.com/liqster">
                        <span class="icon is-medium">
                            <i class="fa fa-twitter"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="content has-text-centered">
                    <h2>Linki</h2>
                    <p>
                        <a href="{{ path('homepage') }}#services">Usługi</a><br>
                        <a href="{{ path('homepage') }}#price">Cennik</a><br>
                        <a href="{{ path('homepage') }}#about">O nas</a><br>
                        <a href="#">Regulamin</a><br>
                        <a href="#">Polityka prywatności</a><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="content has-text-centered">
                    <hr>
                    <div>
                        <h3>Legal</h3>
                        <p>The name "Instagram", "insta" or any uses "Instagram LOGO" is a copyright of Instagram,
                            Inc.</p>
                        <p>This project is in no way affiliated with, authorized, maintained, sponsored or endorsed by
                            Instagram, Inc or any of its affiliates or subsidiaries.
                            I, the project owner and creator, am not responsible for any legalities that may arise in
                            the use of this project. Use at your own risk.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
