<section id="price" class="hero is-fullheight is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h3 class="title">Ceny poszczególnych abonamentów:</h3>
                </div>
            </div>

            <div class="columns">

                {% for product in products %}

                    <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-content">
                                <div class="content is-centered has-text-centered">
                                    <h1>{{ product.type }}</h1>
                                    <h2> {{ (product.price / 100)|number_format(2) }} zł</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
            <hr>

            <div class="columns">
                <ul>
                    <li><h5 class="subtitle">Każdy abonament obejmuje:</h5></li>
                    <li>Program liqster dla jednego konta, działający według wybranych przez użytkownika ustawień, przez
                        określoną abonamentem
                        liczbę dni.
                    </li>
                    <li>Aktywność pozostawianą przez program w cyklach średnio co 15 minut.</li>
                    <li>Cykle obejmujące do 20 polubień oraz do 3 komentarzy.</li>
                    <li>Możliwość wglądu w pozostawione aktywności.</li>
                    <li>Możliwość zatrzymania oraz aktywowania pracy programu. (czas trawania abonamentu jest niezależny
                        od tego czy konto jest aktywne czy zostalo zatrzymane).
                    </li>
                </ul>
            </div>
            <div class="columns">
                <h5>Korzystając z naszych usług akceptujesz <a href="{{ path('homepage_termsOfService') }}">regulamin
                        serwisu.</a></h5>
            </div>
        </div>
    </div>
</section>
