<section id="price" class="full-section price-section">
    <div class="container">
        <div class="row">

            {% for product in products %}

                <div class="col s12 m6 l3 xl3">
                    <div class="card">
                        <div class="card-panel">
                            <h2 class="pink-text darken-2 center-align">{{ product.type }}</h2>

                        </div>
                        <div class="card-content">
                            <h2>{{ product.price / 100 }} zł brutto</h2>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                        class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
</section>
