<section id="services" class="full-section services-section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>liqster.pl - narzędzie do zwiększania Twojego zasięgu na instagramie!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l8 xl8">
                <div class="row">
                    <div class="col s2 ">
                        <i class="medium material-icons">list</i></div>
                    <div class="col s10">
                        <p>liqster zostawia aktywność wśród zdjęć z wybranych przez Ciebie #tagów, dzięki temu
                            możesz
                            zachęcić osoby o wybranych przez Ciebie zainteresowaniach do odwiedzin Twojego
                            profilu!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s2 ">
                        <i class="medium material-icons">comment</i></div>
                    <div class="col s10">
                        <p>liqster zostawia komentarze w Twoim imieniu, o treści, którą sam stworzysz! Nie wiesz
                            jaki komentarz zostawić? Skorzystaj z gotowych przykładów!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s2 ">
                        <i class="medium material-icons">thumb_up</i></div>
                    <div class="col s10">
                        <p>Zachęć aktywnych użytkowników do odwiedzin Twojego profilu poprzez pozostawianie polubień
                            pod ich najnowszymi postami!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s2 ">
                        <i class="medium material-icons">trending_up</i></div>
                    <div class="col s10">
                        <h4>Zrelaksuj się i obserwuj jak Twoja popularność rośnie!</h4>
                    </div>
                </div>
            </div>
            <div class="col l4 xl4 hide-on-med-and-down">
                <h1>kot miau</h1>
            </div>
        </div>
    </div>
</section>
