<section id="services" class="hero is-dark is-fullheight is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    <h3 class="title">liqster.pl - narzędzie do zwiększania Twojego zasięgu na Instagramie!</h3>
                </div>
            </div>
            <div class="columns">
                <div class="column is-half has-text-centered">
                    <div class="column">
                        <span class="icon is-large">  <i class="fa fa-line-chart"></i></span>
                    </div>
                    <div class="column">
                        <p>liqster zostawia aktywność wśród zdjęć z wybranych przez Ciebie #tagów, dzięki temu
                            możesz
                            zachęcić osoby o wybranych przez Ciebie zainteresowaniach do odwiedzin Twojego
                            profilu!</p>
                    </div>
                </div>
                <div class="column is-half has-text-centered">
                    <div class="column">
                        <span class="icon is-large">  <i class="fa fa-comments"></i></span>
                    </div>
                    <div class="column">
                        <p>liqster zostawia komentarze w Twoim imieniu, o treści, którą sam stworzysz! Nie wiesz
                            jaki komentarz zostawić? Skorzystaj z gotowych przykładów!</p>
                    </div>
                </div>
            </div>
            <div class="column is-half has-text-centered is-offset-one-quarter">
                <div class="column">
                    <span class="icon is-large">  <i class="fa fa-heart-o"></i></span>
                </div>
                <div class="column">
                    <p>Zachęć aktywnych użytkowników do odwiedzin Twojego profilu poprzez pozostawianie polubień
                        pod ich najnowszymi postami!</p>
                </div>
            </div>
            <div class="column has-text-centered">
                <div class="column">
                    <h4 class="subtitle">Zrelaksuj się i obserwuj jak Twoja popularność rośnie! W dowolnym momencie
                        możesz zobaczyć
                        wykaz aktywności Twojego konta, pozostawianych przez nas!</h4>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
