{% extends '@LiqsterHomePage/base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="hero-body">
            <div class="container terms">
                <div class="columns">
                    <div class="column is-one-third">
                        <aside class="menu">
                            <p class="menu-label">
                                Spis treści:
                            </p>
                            <ul class="menu-list">
                                <li><a href="#start">Wstęp</a></li>
                                <li><a href="#basic provisions">Postanowienia podstawowe</a></li>
                                <li><a href="#general conditions">Warunki ogólne</a></li>
                                <li><a href="#property rights">Prawa własności</a></li>
                                <li><a href="#disclaimer">Wyłączenie odpowiedzialności</a></li>
                                <li><a href="#limitation of liability">Ograniczenie odpowiedzialności</a></li>
                                <li><a href="#take responsibility">Przejęcie odpowiedzialności</a></li>
                                <li><a href="#limitation of claims">Przedawnienie się roszczeń</a></li>
                                <li><a href="#complaint">Postępowanie reklamacyjne</a></li>
                                <li><a href="#service information">Informację o usługach</a></li>
                                <li><a href="#payment">Płatności</a></li>
                                <li><a href="#final provisions">Postanowienia końcowe</a></li>
                                <li><a href="{{ path('homepage_privacyPolicy') }}">Przejdź do polityki prywatności</a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                    <div class="column">

                        <h1 class="title" id="start">Regulamin świadczenia usług liqster.pl</h1>

                        <div class="tile is-ancestor">
                            <div class="tile is-vertical is-12">
                                <div class="tile">
                                    <div class="tile is-parent is-vertical">
                                        <article class="tile is-child notification is-danger">
                                            <p class="subtitle">Niniejszy Regulamin obowiązuje od 21 lipca 2017
                                                roku.</p>
                                            <p>
                                                Uzyskując dostęp do witryny lub usług firmy liqster.pl bądź
                                                dowolnych
                                                aplikacji
                                                (w tym aplikacji dla urządzeń przenośnych) udostępnionych przez
                                                firmę
                                                liqster.pl
                                                (zwanych łącznie „usługami”) lub korzystając z nich, użytkownik
                                                akceptuje
                                                niniejszy Regulamin świadczenia usług („Regulamin”). Usługi te są
                                                własnością
                                                firmy mtype.pl Marcin Pyrka („Właściciel”) lub są przez nią
                                                kontrolowane.
                                                Niniejszy Regulamin określa prawa i obowiązki użytkownika. Jeśli
                                                użytkownik nie
                                                zgadza się z postanowieniami niniejszego Regulaminu, nie powinien
                                                korzystać z
                                                usług ani uzyskiwać do nich
                                                dostępu.
                                            </p>
                                            <p>
                                                Niektóre oferowane przez nas funkcje specjalne mogą być objęte
                                                dodatkowymi
                                                warunkami
                                                uzupełniającymi niniejszy Regulamin. W takich przypadkach, jeśli
                                                wystąpią
                                                rozbieżności między niniejszym Regulaminem a warunkami dotyczącymi
                                                danej
                                                funkcji,
                                                pierwszeństwo mają warunki dotyczące funkcji.
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1 class="title" id="basic provisions">Postanowienia podstawowe</h1>
                        <ol>
                            <li>
                                <p>Nie zezwalamy na korzystanie z usług serwisu osobom poniżej 13. roku życia.</p>
                            </li>
                            <li>
                                <p>Zabronione jest udostępnianie czy promowanie za pośrednictwem serwisu treści
                                    zawierających
                                    elementy przemocy, nagości, częściowej nagości, treści dyskryminacyjnych,
                                    niezgodnych z
                                    prawem, promujących nienawiść, treści pornograficznych oraz zdjęć i innych
                                    treści o
                                    podtekście seksualnym.</p>
                            </li>
                            <li>
                                <p>
                                    Użytkownik ponosi odpowiedzialność za każdą czynność wykonywaną za pośrednictwem
                                    jego konta
                                    i zobowiązuje się nie sprzedawać ani nie przekazywać swojego konta, nazwy
                                    użytkownika ani
                                    jakichkolwiek innych praw do konta, a także nie udzielać na nie licencji ani nie
                                    przypisywać
                                    praw do niego innym osobom. Serwis liqster.pl zabrania tworzenia kont w imieniu
                                    innych osób
                                    i użytkownik zobowiązuje się przestrzegać tego zakazu.
                                    Postanowienie to nie dotyczy osób i firm, które uzyskały wyraźną zgodę na
                                    utworzenie
                                    konta w
                                    imieniu pracodawcy lub klienta. Użytkownik oświadcza, iż wszystkie informacje
                                    podane
                                    przez
                                    niego w trakcie rejestracji w serwisie liqster.pl i w dowolnym innym momencie są
                                    prawdziwe,
                                    dokładne, aktualne i pełne, oraz zobowiązuje się aktualizować je, jeśli zajdzie
                                    taka
                                    potrzeba, aby zapewnić ich prawdziwość i dokładność.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Zabronione jest wyłudzanie, gromadzenie lub wykorzystywanie danych logowania
                                    innych
                                    użytkowników serwisu liqster.pl.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Użytkownik jest odpowiedzialny za utrzymywanie swojego hasła w tajemnicy i
                                    dbanie o
                                    jego
                                    bezpieczeństwo.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Zabronione jest oczernianie, prześladowanie, wykorzystywanie, nękanie i
                                    zastraszanie
                                    innych
                                    osób i podmiotów, a także podszywanie się pod inne osoby lub podmioty. Ponadto
                                    niedozwolone
                                    jest publikowanie za pośrednictwem usług prywatnych lub poufnych informacji
                                    (swoich
                                    lub
                                    innych osób), w tym między innymi danych kart kredytowych, numerów ubezpieczenia
                                    społecznego, numerów PESEL lub innych numerów identyfikacyjnych, prywatnych
                                    numerów
                                    telefonu
                                    bądź adresów e-mail.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Zabrania się wykorzystywania usług do nielegalnych lub niedozwolonych działań.
                                    Użytkownik
                                    zobowiązuje się przestrzegać wszystkich przepisów prawa, warunków i regulacji
                                    (np.
                                    federalnych, stanowych, krajowych, lokalnych i rejonowych) mających zastosowanie
                                    do
                                    korzystania z usług i z treści użytkownika (rozumianych zgodnie z poniższą
                                    definicją), w tym
                                    między innymi przepisów dotyczących praw autorskich.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Użytkownik ponosi wyłączną odpowiedzialność za własne postępowanie i wszelkie
                                    dane,
                                    teksty,
                                    pliki, informacje, nazwy użytkownika, obrazy, treści graficzne, zdjęcia,
                                    profile,
                                    pliki
                                    audio i wideo, dźwięki, utwory muzyczne, dzieła autorskie, aplikacje, linki i
                                    inne
                                    treści
                                    lub materiały (zwane łącznie „treściami”) przesyłane, publikowane, oceniane lub
                                    wyświetlane
                                    przez użytkownika za pośrednictwem serwisu.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Zabronione jest wprowadzanie zmian do serwisu, dostosowywanie lub ulepszanie go,
                                    a
                                    także
                                    modyfikowanie lub dostosowywanie innych witryn, aby fałszywie wykazywały związek
                                    z
                                    usługą
                                    lub serwisem liqster.pl.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Zabrania się tworzenia lub wysyłania niechcianych wiadomości e-mail do
                                    użytkowników
                                    serwisu
                                    liqster.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Niedozwolone jest używanie nazw domen lub adresów URL witryn w nazwie
                                    użytkownika,
                                    chyba że
                                    uzyskano na to wcześniej pisemną zgodę serwisu liqster.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Zabrania się zakłócania działania serwisu lub serwerów czy sieci związanych z
                                    serwisem,
                                    m.in. poprzez przesyłanie jakichkolwiek robaków, wirusów, oprogramowania
                                    szpiegowskiego,
                                    złośliwego oprogramowania lub jakiegokolwiek innego kodu zakłócającego działanie
                                    oprogramowania i systemów informatycznych lub uszkadzającego je. Niedozwolone
                                    jest
                                    modyfikowanie i zakłócanie sposobu wyświetlania strony internetowej serwisu
                                    liqster
                                    w
                                    przeglądarce lub na urządzeniach użytkowników poprzez wstawianie zawartości bądź
                                    kodu lub w
                                    inny sposób.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Zabrania się tworzenia kont w serwisie przy użyciu nieautoryzowanych środków, w
                                    tym
                                    między
                                    innymi urządzeń automatycznych, skryptów, robotów internetowych typu bot,
                                    spider,
                                    crawler
                                    czy scraper.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Nie wolno ograniczać innym użytkownikom możliwości korzystania z serwisu ani
                                    zachęcać innych
                                    użytkowników do naruszania postanowień niniejszego Regulaminu lub innych zasad
                                    serwisu
                                    liqster lub ułatwiać im naruszania tych postanowień.
                                </p>
                            </li>
                            <li>
                                <p>
                                    W przypadku naruszenia postanowień niniejszego Regulaminu serwis liqster
                                    zastrzega
                                    sobie
                                    prawo do usunięcia konta użytkownika z serwisu. Użytkownik przyjmuje do
                                    wiadomości,
                                    że
                                    liqster nie ponosi odpowiedzialności za treści przesyłane za pośrednictwem
                                    serwisu.
                                    Użytkownik korzysta z serwisu na własne ryzyko. W przypadku naruszenia przez
                                    użytkownika
                                    litery lub ducha niniejszego Regulaminu albo narażenia serwisu liqster na ryzyko
                                    odpowiedzialności prawnej w inny sposób zastrzegamy sobie prawo do zaprzestania
                                    udostępniania Użytkownikowi całości lub części serwisu.
                                </p>
                            </li>
                        </ol>
                        <hr>
                        <h1 class="title" id="general conditions">Warunki ogólne</h1>
                        <ol>
                            <li>
                                <p>
                                    Zastrzegamy sobie prawo do wprowadzania zmian w serwisie, zakończenia
                                    świadczenia
                                    usług bądź
                                    zablokowania dostępu Użytkownika do serwisu z dowolnego powodu, bez uprzedniego
                                    powiadomienia, w dowolnym momencie i bez żadnych zobowiązań z tego tytułu.
                                    Użytkownik może
                                    usunąć swoje konto w serwisie liqster, logując się do niego i klikając w
                                    odpowiedni
                                    link w
                                    ustawieniach profilu.
                                    W przypadku zablokowania Użytkownikowi dostępu do serwisu lub dokonania przez
                                    Użytkownika
                                    usunięcia konta w sposób opisany powyżej dane Użytkownika zapisane na tym koncie
                                    nie
                                    będą
                                    już dostępne za
                                    pośrednictwem tego konta.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Zgodnie z Regulaminem po zakończeniu korzystania z serwisu wszystkie licencje,
                                    abonamenty,
                                    profity, klucze, kody promocyjne i inne nabyte przez Użytkownika prawa utracą
                                    ważność.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Zastrzegamy sobie prawo do wprowadzania od czasu do czasu zmian do Regulaminu
                                    („zmiany
                                    Regulaminu”) według własnego uznania. Użytkownik zostanie poinformowany z
                                    odpowiednim
                                    wyprzedzeniem o zmianach Regulaminu, zanim wejdą one w życie, chyba że zmiany te
                                    będą
                                    umotywowane względami prawnymi lub administracyjnymi. Użytkownik wyraża zgodę na
                                    otrzymywanie powiadomień o zmianach Regulaminu poprzez ich publikację na
                                    stronach
                                    serwisu i
                                    akceptuje fakt, że korzystanie z usług (lub podejmowanie innych określonych
                                    przez
                                    nas
                                    czynności) po wejściu w życie zmian Regulaminu oznacza akceptację tych zmian. W
                                    związku z
                                    tym zalecamy zapoznanie się z postanowieniami niniejszego Regulaminu i wszelkimi
                                    wprowadzonymi zmian przed skorzystaniem z usług. Zmiany Regulaminu wchodzą w
                                    życie w
                                    momencie ich publikacji bądź w późniejszym momencie określonym w niej i od tego
                                    momentu
                                    obowiązują w odniesieniu do korzystania z serwisu. Przed wejściem w życie zmiany
                                    Regulaminu
                                    wszystkie zaistniałe spory będą rozwiązywane w oparciu o obecny Regulamin.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Zastrzegamy sobie prawo do odmowy dostępu do serwisu dowolnemu użytkownikowi z
                                    dowolnej
                                    przyczyny i w dowolnym momencie.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Zastrzegamy sobie prawo do przejęcia dowolnej nazwy użytkownika z dowolnego
                                    powodu.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Możemy, ale nie musimy, usuwać, edytować, blokować i/lub monitorować treści lub
                                    konta
                                    zawierające treści, które uznamy (według własnego uznania) za naruszające
                                    postanowienia
                                    niniejszego Regulaminu.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Użytkownik ponosi wyłączną odpowiedzialność za swoje działania wobec innych
                                    użytkowników
                                    korzystających z usług w sieci i poza nią. Użytkownik przyjmuje do wiadomości,
                                    że
                                    serwis
                                    liqster nie ponosi odpowiedzialności za jakiekolwiek działania użytkowników.
                                    Serwis
                                    liqster zastrzega sobie prawo, ale nie jest zobowiązany, do monitorowania sporów
                                    pomiędzy
                                    użytkownikami i ingerowania w nie. Zalecamy ostrożność i rozsądek podczas
                                    kontaktowania się
                                    z innymi użytkownikami, w tym podczas publikowania lub przesyłania treści bądź
                                    dowolnych
                                    informacji osobistych i innych.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Serwis oraz wiadomości pochodzące z serwisu mogą zawierać linki do witryn lub
                                    funkcji
                                    należących do podmiotów zewnętrznych. Linki do witryn i funkcji należących do
                                    podmiotów
                                    zewnętrznych mogą znajdować się także w obrazach i komentarzach wyświetlanych za
                                    pośrednictwem serwisu. Serwis zawiera też treści podmiotów zewnętrznych, których
                                    nie
                                    kontrolujemy, nie monitorujemy ani nie zatwierdzamy. Ponadto niektóre funkcje
                                    serwisu mogą
                                    umożliwiać współdziałanie usług z witrynami i funkcjami zewnętrznymi, w tym
                                    aplikacjami, za
                                    pośrednictwem których serwis lub profil Użytkownika łączą się z witryną lub
                                    funkcją
                                    zewnętrzną. Przykładowo w ramach serwisu możemy oferować funkcję, która
                                    umożliwia
                                    udostępnianie treści pochodzących z serwisu lub treści Użytkownika podmiotom
                                    zewnętrznym, co
                                    może skutkować publikacją tych treści w serwisach lub aplikacjach zewnętrznych.
                                    Korzystanie
                                    z tego typu funkcji zazwyczaj wymaga zalogowania się do konta w serwisie
                                    zewnętrznym.
                                    Użytkownik dokonuje tego na własną odpowiedzialność. Serwis liqster nie posiada
                                    kontroli
                                    nad żadnym z serwisów zewnętrznych ani nad ich zawartością. Użytkownik przyjmuje
                                    do
                                    wiadomości i akceptuje fakt, że serwis liqster nie ponosi żadnej
                                    odpowiedzialności
                                    za
                                    jakiekolwiek usługi i funkcje zewnętrzne. STRONAMI KORESPONDENCJI I RELACJI
                                    BIZNESOWYCH
                                    UŻYTKOWNIKA Z PODMIOTAMI ZEWNĘTRZNYMI PROWADZONYCH ZA POŚREDNICTWEM SERWISU SĄ
                                    WYŁĄCZNIE
                                    UŻYTKOWNIK I DANY PODMIOT ZEWNĘTRZNY. Użytkownik może według własnego uznania i
                                    na
                                    własne
                                    ryzyko korzystać z aplikacji, za pośrednictwem których możliwe jest połączenie
                                    serwisu lub
                                    profilu użytkownika z serwisem zewnętrznym (zwanych „aplikacjami”). Aplikacje
                                    takie
                                    mogą
                                    łączyć się z profilem użytkownika w serwisach, gromadzić i/lub pobierać z niego
                                    dane
                                    i/lub
                                    dodawać dane do profilu. Korzystając z opisanych wyżej aplikacji, użytkownik
                                    przyjmuje do
                                    wiadomości i akceptuje poniższe zastrzeżenia: (i) w przypadku korzystania z
                                    aplikacji w celu
                                    udostępnienia informacji użytkownik wyraża zgodę na udostępnienie informacji o
                                    swoim
                                    profilu
                                    w serwisie; (ii) korzystanie z aplikacji może spowodować upublicznienie
                                    informacji
                                    osobistych i/lub umożliwiających identyfikację użytkownika, nawet jeśli serwis
                                    liqster nie
                                    udostępnił takich informacji; oraz (iii) użytkownik korzysta z aplikacji z
                                    własnej
                                    woli i na
                                    własne ryzyko oraz zobowiązuje się do ochrony podmiotów po stronie serwisu
                                    liqster
                                    (zdefiniowanych poniżej) przed jakąkolwiek szkodą spowodowaną przez daną
                                    aplikację.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Użytkownik ponosi wszelkie opłaty za przesyłanie danych, które zostaną naliczone
                                    podczas
                                    korzystania z serwisu.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Zabrania się korzystania z automatycznych metod dostępu do danych, takich jak
                                    roboty
                                    internetowe typu crawler i scraper czy zapisywanie w pamięci podręcznej, w
                                    odniesieniu do
                                    dowolnych treści zapisanych w serwisie, w tym między innymi profili i zdjęć
                                    użytkowników (z
                                    wyłączeniem przypadków, gdy jest to wynikiem działania standardowych technologii
                                    i
                                    protokołów wykorzystywanych przez wyszukiwarki sieciowe za wyraźną zgodą serwisu
                                    liqster).
                                </p>
                            </li>
                        </ol>
                        <hr>
                        <h1 class="title" id="property rights">Prawa własności</h1>
                        <ol>
                            <li>
                                <p>
                                    Serwis liqster nie rości sobie żadnych praw własności do jakichkolwiek treści
                                    przesyłanych
                                    przez Użytkownika za pośrednictwem serwisu. W zamian Użytkownik przyznaje
                                    serwisowi
                                    liqster niewyłączną, w pełni bezpłatną, zbywalną, obejmującą prawo do udzielania
                                    sublicencji, światową licencję zezwalającą na wykorzystanie wszelkich treści,
                                    które
                                    użytkownik publikuje za pośrednictwem serwisu, w oparciu o Zasady ochrony
                                    prywatności,
                                    których treść znajduje się tutaj http://liqster.pl/privacyPolicy/, w tym między
                                    innymi na
                                    podstawie sekcji 3. („Udostępnianie informacji użytkownika”), 4. („Jak
                                    przechowujemy
                                    informacje użytkownika”) oraz 5. („Decyzje, jakie użytkownik może podjąć w
                                    zakresie
                                    postępowania z informacjami”). Zgodnie z Zasadami ochrony prywatności użytkownik
                                    może
                                    określić, kto będzie mógł zobaczyć jego działania i treści, w tym zdjęcia.
                                </p>
                            </li>
                            <li>
                                <p>
                                    W niektórych miejscach serwisu mogą wyświetlać się reklamy lub promocje, gdyż
                                    może
                                    on
                                    być utrzymywany ze środków pozyskanych z reklam. Użytkownik niniejszym wyraża
                                    zgodę
                                    na
                                    umieszczanie przez liqster tych reklam i promocji w serwisie lub w połączeniu z
                                    treściami
                                    użytkownika. Rodzaj, forma i zakres wyświetlania takich reklam i promocji mogą
                                    ulec
                                    zmianie
                                    bez uprzedniego powiadomienia.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Użytkownik przyjmuje do wiadomości, że nie zawsze musimy oznaczać płatne usługi,
                                    sponsorowane treści lub komunikaty jako materiały sponsorowane.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Użytkownik oświadcza i gwarantuje, że: (i) posiada prawa autorskie do treści,
                                    które
                                    publikuje za pośrednictwem serwisu, lub posiada inne prawo do udzielenia
                                    licencji i
                                    praw,
                                    które zostały określone w niniejszym Regulaminie; (ii) publikowanie i
                                    wykorzystywanie przez
                                    niego treści za pośrednictwem serwisu nie narusza ani nie łamie praw
                                    jakichkolwiek
                                    podmiotów
                                    zewnętrznych, w tym między innymi praw dotyczących ochrony wizerunku, praw do
                                    ochrony
                                    prywatności, praw autorskich, znaków towarowych ani jakichkolwiek innych praw
                                    własności;
                                    (iii) użytkownik zobowiązuje się pokryć wszelkie tantiemy, opłaty i inne
                                    należności
                                    wynikające z publikacji przez niego treści za pośrednictwem serwisu; oraz (iv)
                                    użytkownik
                                    posiada prawo i zdolność do akceptacji niniejszego Regulaminu na terenie swojej
                                    jurysdykcji.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Serwis zawiera treści chronione prawami autorskimi lub licencjami firmy mtype.pl
                                    Marcin
                                    Pyrka („treści firmy mtype.pl”). Treści firmy mtype.pl są chronione prawami
                                    autorskimi,
                                    prawami do znaku towarowego, patentami i są objęte tajemnicą handlową i innymi
                                    prawami
                                    własności.
                                    Na podstawie niniejszej umowy z użytkownikiem serwis liqster.pl zachowuje
                                    wszystkie
                                    prawa
                                    dotyczące treści i serwisu liqster.pl. Zabrania się usuwania, modyfikowania lub
                                    pomijania
                                    jakichkolwiek informacji o prawach autorskich, znakach towarowych i znakach
                                    usługowych lub
                                    innych prawach własności zawartych w treściach serwisu liqster.pl lub
                                    dołączonych do
                                    nich.
                                    Nie zezwala się również na powielanie, zmienianie, modyfikowanie, odtwarzanie,
                                    wyświetlanie,
                                    publikowanie, rozpowszechnianie, przesyłanie, nadawanie ani sprzedawanie treści
                                    firmy
                                    mtype.pl, ani też na tworzenie od nich dzieł pochodnych, udzielanie na nie
                                    licencji
                                    lub
                                    korzystanie z nich w inny niedozwolony sposób.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Nazwa i logo liqster.pl są znakami towarowymi należącymi do firmy mtype.pl.
                                    Zabrania
                                    się ich
                                    kopiowania, imitowania oraz wykorzystywania w całości lub w części bez
                                    uprzedniej
                                    pisemnej
                                    zgody serwisu liqster.pl. Ponadto wszystkie nagłówki stron, grafiki, ikony
                                    przycisków oraz skrypty stanowią znaki usługowe, znaki towarowe i/lub
                                    zastrzeżone
                                    wzornictwo
                                    serwisu liqster.pl i zabrania się ich kopiowania, imitowania czy wykorzystywania
                                    w
                                    całości
                                    lub w części bez uprzedniej pisemnej zgody firmy mtype.pl.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Dokładamy wszelkich starań, aby umożliwić naszym użytkownikom niezakłócone
                                    korzystanie z
                                    usług, jednak mogą wystąpić sytuacje, w których działanie serwisu może być
                                    zakłócone, w tym
                                    między innymi podczas zaplanowanych prac technicznych i aktualizacji, a także w
                                    przypadku
                                    niespodziewanych problemów technicznych bądź awarii łącz telekomunikacyjnych
                                    i/lub
                                    sprzętu.
                                    liqster.pl zastrzega też sobie prawo do usunięcia dowolnych treści z serwisu z
                                    dowolnego
                                    powodu i bez uprzedniego powiadomienia. Treści usunięte z serwisu mogą być w
                                    dalszym
                                    ciągu
                                    przechowywane przez liqster.pl, w tym między innymi w celu przestrzegania
                                    zobowiązań
                                    wynikających z przepisów prawa, jednak mogą one być niedostępne dla użytkownika.
                                    Jedynym
                                    sposobem ich odzyskania może okazać się ważny nakaz sądowy. Dlatego też serwis
                                    liqster.pl
                                    zachęca swoich użytkowników do tworzenia kopii zapasowych publikowanych przez
                                    nich
                                    treści.
                                    Innymi słowy, serwis liqster.pl nie jest serwisem do przechowywania kopii
                                    zapasowych, zatem
                                    użytkownik nie może traktować go jako miejsca do tworzenia i przechowywania
                                    kopii
                                    zapasowych
                                    treści. Serwis liqster.pl nie ponosi wobec użytkownika odpowiedzialności za
                                    jakiekolwiek
                                    modyfikacje, zawieszenie lub zakończenie działania usług ani za utratę
                                    jakichkolwiek
                                    treści.
                                    Ponadto użytkownik przyjmuje do wiadomości, że w Internecie zdarzają się
                                    przypadki
                                    naruszenia zabezpieczeń i że przesyłane treści lub inne informacje mogą nie być
                                    w
                                    pełni
                                    zabezpieczone.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Użytkownik przyjmuje do wiadomości, że serwis liqster.pl nie ponosi żadnej
                                    odpowiedzialności
                                    za treści publikowane za jego pośrednictwem ani ich nie zatwierdza i nie
                                    promuje.
                                    Serwis
                                    liqster.pl nie jest zobowiązany do wstępnego sprawdzania, monitorowania,
                                    edytowania
                                    ani
                                    usuwania jakichkolwiek treści. Użytkownicy, których treści naruszają niniejszy
                                    Regulamin,
                                    mogą zostać pociągnięci do odpowiedzialności prawnej.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Z wyjątkiem postanowień zawartych w Zasadach ochrony prywatności dostępnych na
                                    stronie
                                    http://liqster.pl/privacyPolicy/, zgodnie z umową zawartą pomiędzy użytkownikiem
                                    i
                                    serwisem liqster.pl, wszelkie treści nie będą przez nas traktowane jako poufne
                                    ani
                                    chronione
                                    prawami własności i nie ponosimy odpowiedzialności za żadne ich wykorzystanie
                                    lub
                                    ujawnienie. Użytkownik akceptuje fakt, że jego związek z serwisem liqster.pl nie
                                    jest
                                    poufny,
                                    nie ma charakteru powierniczego ani żadnego innego specjalnego charakteru oraz
                                    że
                                    jego
                                    decyzje dotyczące przesyłania treści nie stawiają serwisu liqster.pl w pozycji
                                    innej
                                    niż
                                    pozycja ogółu społeczeństwa w odniesieniu do treści użytkownika. Serwis
                                    liqster.pl
                                    nie ma
                                    obowiązku zachowania poufności w stosunku do jakiejkolwiek części treści
                                    użytkownika
                                    ani nie
                                    ponosi odpowiedzialności za żadne wykorzystanie lub ujawnienie jakiejkolwiek
                                    części
                                    treści
                                    użytkownika.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Zgodnie z zasadami serwisu liqster.pl nie akceptujemy ani nie analizujemy
                                    treści,
                                    informacji,
                                    pomysłów, sugestii ani innych materiałów, chyba że zostały przez nas specjalnie
                                    zamówione. W
                                    takim przypadku podlegają one określonym specjalnym warunkom, przepisom oraz
                                    wymaganiom.
                                    Celem tego postanowienia jest uniknięcie nieporozumień w sytuacji, w której
                                    pomysły
                                    użytkownika okażą się zbliżone do pomysłów, które zostały przez nas opracowane
                                    lub
                                    są przez
                                    nas opracowywane. W związku z powyższym serwis liqster.pl nie akceptuje
                                    niezamawianych
                                    materiałów czy pomysłów ani nie ponosi żadnej odpowiedzialności za takiego
                                    rodzaju
                                    materiały
                                    czy pomysły, które zostały do niego przesłane. W przypadku, gdy użytkownik
                                    pomimo
                                    tych zasad
                                    zdecyduje się na przesłanie nam treści, informacji, pomysłów, sugestii lub
                                    innych
                                    materiałów, użytkownik zezwala w ten sposób serwisowi liqster.pl na bezpłatne i
                                    wolne od
                                    odpowiedzialności wobec użytkownika wykorzystanie dowolnych przesłanych treści,
                                    informacji,
                                    pomysłów, sugestii lub innych materiałów w jakimkolwiek celu, w tym między
                                    innymi do
                                    rozwoju
                                    produktów i usług oraz w celach marketingowych.
                                </p>
                            </li>
                        </ol>
                        <div class="tile is-ancestor">
                            <div class="tile is-vertical is-12">
                                <div class="tile">
                                    <div class="tile is-parent is-vertical">
                                        <article class="tile is-child notification is-danger">
                                            <h1 class="title" id="disclaimer">Wyłączenie odpowiedzialności</h1>
                                            <p>
                                                UDOSTĘPNIAMY SERWIS, W TYM BEZ OGRANICZEŃ, TREŚCI FIRMY mtype.pl, „W
                                                TAKIM
                                                STANIE, W JAKIM SĄ”; NIE GWARANTUJEMY TEŻ, ŻE BĘDĄ ONE „WOLNE OD
                                                BŁĘDÓW”. W
                                                MAKSYMALNYM DOZWOLONYM PRZEZ STOSOWNE PRZEPISY ZAKRESIE ANI SERWIS
                                                liqster.pl
                                                ANI
                                                JEGO FIRMA MACIERZYSTA ORAZ ICH PRACOWNICY, DYREKTORZY, KADRA
                                                KIEROWNICZA I
                                                PRZEDSTAWICIELE (ZWANI ŁĄCZNIE „PODMIOTAMI PO STRONIE SERWISU
                                                liqster.pl”) NIE
                                                SKŁADAJĄ ŻADNYCH DEKLARACJI ANI NIE UDZIELAJĄ ŻADNYCH GWARANCJI
                                                BEZPOŚREDNICH
                                                ANI DOROZUMIANYCH W ODNIESIENIU DO: (A) SERWISU; (B) TREŚCI FIRMY
                                                mtype.pl; (C)
                                                TREŚCI UŻYTKOWNIKA; LUB (D) BEZPIECZEŃSTWA PRZESYŁANIA INFORMACJI DO
                                                SERWISU
                                                liqster.pl LUB ZA POŚREDNICTWEM SERWISU. PONADTO PODMIOTY PO STRONIE
                                                SERWISU
                                                liqster.pl NINIEJSZYM WYKLUCZAJĄ WSZELKIE BEZPOŚREDNIE I DOROZUMIANE
                                                GWARANCJE,
                                                W
                                                TYM MIĘDZY INNYMI GWARANCJE ZBYWALNOŚCI, PRZYDATNOŚCI DO OKREŚLONEGO
                                                CELU I
                                                NIENARUSZANIA PRAW PODMIOTÓW ZEWNĘTRZNYCH, GWARANCJĘ DOTYCZĄCĄ
                                                TYTUŁU
                                                PRAWNEGO,
                                                GWARANCJE ZWYCZAJOWE I BRANŻOWE, GWARANCJĘ PRAWA DO PRYWATNOŚCI I
                                                BEZPROBLEMOWEGO UŻYTKOWANIA, GWARANCJĘ DOTYCZĄCĄ PRAWIDŁOWEJ
                                                INTEGRACJI
                                                Z
                                                UŻYTKOWANYM SYSTEMEM I GWARANCJĘ, ŻE SERWIS NIE JEST ZAINFEKOWANY
                                                WIRUSAMI.
                                            </p>
                                            <p>
                                                PODMIOTY PO STRONIE SERWISU liqster.pl NIE GWARANTUJĄ, ŻE SERWIS
                                                BĘDZIE
                                                WOLNY OD
                                                BŁĘDÓW, ŻE ZAWSZE BĘDZIE DZIAŁAŁ BEZ ŻADNYCH ZAKŁÓCEŃ, ŻE WSZELKIE
                                                USTERKI BĘDĄ
                                                USUWANE ANI ŻE SERWIS BĄDŹ SERWER, KTÓRY GO UDOSTĘPNIA, NIE ZAWIERA
                                                ŻADNYCH
                                                SZKODLIWYCH PROGRAMÓW, W TYM MIĘDZY INNYMI WIRUSÓW. PODMIOTY PO
                                                STRONIE
                                                SERWISU
                                                liqster.pl NIE GWARANTUJĄ, ŻE INFORMACJE (W TYM WSZELKIE INSTRUKCJE)
                                                UDOSTĘPNIANE
                                                ZA POŚREDNICTWEM SERWISU SĄ DOKŁADNE, KOMPLETNE ORAZ UŻYTECZNE.
                                                UŻYTKOWNIK
                                                KORZYSTA Z SERWISU WYŁĄCZNIE NA WŁASNE RYZYKO. PODMIOTY PO STRONIE
                                                SERWISU
                                                liqster.pl NIE GWARANTUJĄ, ŻE KORZYSTANIE Z SERWISU PRZEZ
                                                UŻYTKOWNIKA
                                                JEST
                                                ZGODNE
                                                Z PRZEPISAMI OBOWIĄZUJĄCYMI W DANEJ JURYSDYKCJI, I WYRAŹNIE
                                                WYKLUCZAJĄ
                                                WSZELKIE
                                                TEGO TYPU GWARANCJE. PRZEPISY OBOWIĄZUJĄCE W NIEKTÓRYCH
                                                JURYSDYKCJACH
                                                OGRANICZAJĄ MOŻLIWOŚĆ WYŁĄCZENIA DOROZUMIANYCH LUB INNYCH GWARANCJI
                                                LUB
                                                ZABRANIAJĄ TAKIEG WYŁĄCZENIA. POWYŻSZE WYŁĄCZENIE NIE DOTYCZY
                                                UŻYTKOWNIKÓW
                                                PODLEGAJĄCYCH TAKIM PRZEPISOM W STOPNIU, W JAKIM MAJĄ ONE
                                                ZASTOSOWANIE
                                                DO
                                                NINIEJSZEGO REGULAMINU.
                                            </p>
                                            <p>
                                                POPRZEZ KORZYSTANIE Z SERWISU LUB UZYSKANIE DO NIEGO DOSTĘPU
                                                UŻYTKOWNIK
                                                GWARANTUJE, ŻE JEGO DZIAŁANIA SĄ ZGODNE Z PRZEPISAMI OBOWIĄZUJĄCYMI
                                                W
                                                JURYSDYKCJI, W KTÓREJ UŻYTKOWNIK KORZYSTA Z SERWISU LUB UZYSKUJE DO
                                                NIEGO
                                                DOSTĘP.
                                            </p>
                                            <p>
                                                PODMIOTY PO STRONIE SERWISU liqster.pl NIE ZATWIERDZAJĄ ANI NIE
                                                PROMUJĄ
                                                ŻADNYCH
                                                TREŚCI I W SPOSÓB WYRAŹNY WYKLUCZAJĄ JAKĄKOLWIEK ODPOWIEDZIALNOŚĆ
                                                WOBEC
                                                DOWOLNEJ
                                                OSOBY LUB PODMIOTU ZA WSZELKIE STRATY, ZNISZCZENIA (NIEZALEŻNIE OD
                                                TEGO
                                                CZY SĄ
                                                ONE RZECZYWISTE, WTÓRNE, NIEMATERIALNE LUB INNEGO RODZAJU), KRZYWDY,
                                                ROSZCZENIA
                                                I INNE ZOBOWIĄZANIA, KTÓRE WYNIKŁY Z JAKICHKOLWIEK PRZYCZYN
                                                ZWIĄZANYCH Z
                                                TREŚCIAMI.
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile is-ancestor">
                            <div class="tile is-vertical is-12">
                                <div class="tile">
                                    <div class="tile is-parent is-vertical">
                                        <article class="tile is-child notification is-danger">
                                            <h1 class="title" id="limitation of liability">Ograniczenie
                                                odpowiedzialności; Zrzeczenie się
                                                praw</h1>
                                            <p>
                                                PODMIOTY PO STRONIE SERWISU liqster.pl W ŻADNYCH OKOLICZNOŚCIACH NIE
                                                PONOSZĄ
                                                ODPOWIEDZIALNOŚCI WOBEC UŻYTKOWNIKA ZA JAKIEKOLWIEK STRATY LUB
                                                SZKODY (W
                                                TYM
                                                MIĘDZY INNYMI ZA WSZELKIE SZKODY BEZPOŚREDNIE, POŚREDNIE,
                                                MATERIALNE,
                                                PRZYKŁADOWE, SPECJALNE, NIEMATERIALNE, PRZYPADKOWE LUB WTÓRNE)
                                                ZWIĄZANE
                                                W SPOSÓB
                                                BEZPOŚREDNI LUB POŚREDNI Z: (A) SERWISEM; (B) TREŚCIAMI FIRMY
                                                mtype.pl;
                                                (C)
                                                TREŚCIAMI UŻYTKOWNIKA; (D) KORZYSTANIEM LUB BRAKIEM MOŻLIWOŚCI
                                                KORZYSTANIA Z
                                                SERWISU ORAZ DZIAŁANIEM SERWISU; (E) WSZELKIMI DZIAŁANIAMI
                                                PODEJMOWANYMI
                                                W
                                                ZWIĄZKU Z DOCHODZENIEM PROWADZONYM PRZEZ PODMIOTY POWIĄZANE Z
                                                SERWISEM
                                                liqster.pl
                                                LUB PRZEDSTAWICIELI ORGANÓW ŚCIGANIA DOTYCZĄCYM KORZYSTANIA Z
                                                SERWISU
                                                PRZEZ
                                                UŻYTKOWNIKA LUB JAKIEKOLWIEK INNE PODMIOTY; (F) WSZELKIMI
                                                DZIAŁANIAMI
                                                PODJĘTYMI
                                                W POWIĄZANIU Z POSIADACZAMI PRAW AUTORSKICH LUB INNEGO TYPU PRAW
                                                WŁASNOŚCI
                                                INTELEKTUALNEJ; (G) WSZELKIMI BŁĘDAMI LUB ZANIEDBANIAMI W ZAKRESIE
                                                FUNKCJONOWANIA SERWISU; LUB (H) WSZELKIMI USZKODZENIAMI KOMPUTERA,
                                                URZĄDZENIA
                                                PRZENOŚNEGO LUB INNEGO SPRZĘTU CZY TECHNOLOGII, Z KTÓRYCH KORZYSTA
                                                UŻYTKOWNIK,
                                                SPOWODOWANYMI MIĘDZY INNYMI ZŁAMANIEM ZABEZPIECZEŃ, OBECNOŚCIĄ
                                                WIRUSÓW
                                                LUB
                                                ROBAKÓW, INGERENCJĄ NIEAUTORYZOWANYCH OSÓB, OSZUSTWAMI, BŁĘDAMI,
                                                ZANIEDBANIAMI,
                                                ZAKŁÓCENIAMI, USTERKAMI, OPÓŹNIENIAMI W DOSTĘPIE CZY TRANSMISJI,
                                                AWARIĄ
                                                POŁĄCZENIA, SIECI LUB INNYMI PROBLEMAMI TECHNICZNYMI. DOTYCZY TO
                                                MIĘDZY
                                                INNYMI
                                                ODPOWIEDZIALNOŚCI ODSZKODOWAWCZEJ ZA UTRATĘ ZYSKÓW, REPUTACJI LUB
                                                DANYCH,
                                                PRZERWĘ W PROWADZENIU DZIAŁALNOŚCI, UTRATĘ WIARYGODNOŚCI WYNIKÓW LUB
                                                AWARIĘ,
                                                USZKODZENIA LUB WADLIWEGO DZIAŁANIE KOMPUTERA, Z TYTUŁU
                                                ODPOWIEDZIALNOŚCI
                                                UMOWNEJ, OBIEKTYWNEJ, DELIKTOWEJ I ODPOWIEDZIALNOŚCI ZA
                                                NIEZACHOWANIE
                                                NALEŻYTEJ
                                                STARANNOŚCI, W TYM MIĘDZY INNYMI ODPOWIEDZIALNOŚCI ZA SZKODY
                                                WYNIKAJĄCE
                                                W
                                                CAŁOŚCI LUB CZĘŚCI Z ZANIEDBANIA, DZIAŁANIA SIŁY WYŻSZEJ, USTERKI
                                                SIECI
                                                TELEKOMUNIKACYJNEJ LUB KRADZIEŻY BĄDŹ ZNISZCZENIA SERWISU, NAWET
                                                JEŻELI
                                                SZKODY
                                                TE MOŻNA BYŁO PRZEWIDZIEĆ I NAWET JEŻELI PODMIOTY PO STRONIE SERWISU
                                                liqster.pl
                                                ZOSTAŁY POINFORMOWANE O MOŻLIWOŚCI ICH WYSTĄPIENIA. PODMIOTY PO
                                                STRONIE
                                                SERWISU
                                                liqster.pl NIE PONOSZĄ ŻADNEJ ODPOWIEDZIALNOŚCI WOBEC UŻYTKOWNIKA
                                                LUB
                                                INNYCH
                                                OSÓB
                                                ZA STRATY, ZNISZCZENIA LUB KRZYWDY, W TYM MIĘDZY INNYMI ZA ŚMIERĆ
                                                LUB
                                                USZKODZENIE CIAŁA. PRZEPISY OBOWIĄZUJĄCE W NIEKTÓRYCH KRAJACH MOGĄ
                                                NIE ZEZWALAĆ NA OGRANICZENIE LUB WYŁĄCZENIE ODPOWIEDZIALNOŚCI ZA
                                                STRATY
                                                PRZYPADKOWE I WTÓRNE, WIĘC POWYŻSZE OGRANICZENIE LUB WYŁĄCZENIE MOŻE
                                                NIE
                                                MIEĆ
                                                ZASTOSOWANIA W PRZYPADKU NIEKTÓRYCH UŻYTKOWNIKÓW. W ŻADNYM WYPADKU
                                                ŁĄCZNA
                                                ODPOWIEDZIALNOŚĆ PODMIOTÓW PO STRONIE SERWISU liqster.pl WOBEC
                                                UŻYTKOWNIKA ZA
                                                WSZELKIE SZKODY, STRATY LUB PRZYCZYNY POSTĘPOWANIA NIE PRZEKRACZA
                                                KWOTY
                                                STU
                                                ZŁOTYCH (100,00 PLN).
                                            </p>
                                            <p>
                                                UŻYTKOWNIK POTWIERDZA, ŻE W PRZYPADKU PONIESIENIA STRAT LUB DOZNANIA
                                                SZKÓD LUB
                                                KRZYWD W WYNIKU DZIAŁAŃ LUB ZANIEDBAŃ SERWISU liqster.pl SZKODY
                                                PONIESIONE PRZEZ
                                                UŻYTKOWNIKA, JEŚLI W OGÓLE WYSTĄPIĄ, BĘDĄ UZNANE ZA ODWRACALNE I
                                                NIESTANOWIĄCE
                                                WYSTARCZAJĄCEJ PODSTAWY DO UZYSKANIA PRZEZ UŻYTKOWNIKA NAKAZU
                                                SĄDOWEGO
                                                ZAKAZUJĄCEGO UŻYTKOWANIA DOWOLNEJ WITRYNY, USŁUGI, WŁASNOŚCI,
                                                PRODUKTU
                                                LUB
                                                INNYCH TREŚCI BĘDĄCYCH WŁASNOŚCIĄ LUB POZOSTAJĄCYCH POD KONTROLĄ
                                                PODMIOTÓW PO
                                                STRONIE SERWISU liqster.pl. W TAKIEJ SYTUACJI UŻYTKOWNIK NIE BĘDZIE
                                                MIAŁ
                                                ŻADNYCH
                                                PRAW DO UBIEGANIA SIĘ O ZAKAZ LUB OGRANICZENIE ROZWOJU, PRODUKCJI,
                                                DYSTRYBUCJI,
                                                REKLAMY, PREZENTACJI LUB UŻYTKOWANIA DOWOLNYCH WITRYN, WŁASNOŚCI,
                                                PRODUKTÓW,
                                                USŁUG LUB INNYCH TREŚCI, KTÓRE SĄ WŁASNOŚCIĄ LUB POZOSTAJĄ POD
                                                KONTROLĄ
                                                PODMIOTÓW PO STRONIE SERWISU liqster.pl.
                                            </p>
                                            <p>
                                                UŻYTKOWNIK JEST ŚWIADOMY, ŻE POPRZEZ UZYSKANIE DOSTĘPU DO SERWISU
                                                MOŻE
                                                ZRZEC SIĘ
                                                PRAW DO ROSZCZEŃ, KTÓRYCH ISTNIENIA W TEJ CHWILI NIE PODEJRZEWA I
                                                ZAPOZNAŁ SIĘ Z
                                                TREŚCIĄ PRZEPISÓW OBOWIĄZUJĄCYCH W
                                                DOWOLNYM KRAJU LUB NA DOWOLNYM OBSZARZE I WYRAŹNIE ZRZEKA SIĘ
                                                WYNIKAJĄCYCH Z NICH KORZYŚCI. POSTANOWIENIA TE MOŻNA STREŚCIĆ
                                                NASTEPUJĄCO:
                                                „OGÓLNE ZWOLNIENIE ZE ZOBOWIĄZANIA NIE OBEJMUJE ROSZCZEŃ NA RZECZ
                                                WIERZYCIELA, O
                                                KTÓRYCH WIERZYCIEL NIE WIEDZIAŁ I KTÓRYCH ISTNIENIA NIE PODEJRZEWAŁ
                                                W
                                                CHWILI
                                                UDZIELANIA ZWOLNIENIA, A KTÓRE, GDYBY O NICH WIEDZIAŁ, WPŁYNĘŁYBY
                                                MATERIALNIE NA
                                                JEGO ROZLICZENIE Z DŁUŻNIKIEM”.
                                            </p>
                                            <p>
                                                SERWIS liqster.pl NIE PONOSI ODPOWIEDZIALNOŚCI ZA DZIAŁANIA, TREŚCI,
                                                INFORMACJE
                                                I
                                                DANE PODMIOTÓW ZEWNĘTRZNYCH. UŻYTKOWNIK ZWALNIA NAS, NASZYCH
                                                DYREKTORÓW,
                                                KADRĘ
                                                KIEROWNICZĄ, PRZEDSTAWICIELI I PRACOWNIKÓW OD WSZELKIEJ
                                                ODPOWIEDZIALNOŚCI ZA
                                                STRATY I SZKODY JAWNE LUB UKRYTE WYNIKAJĄCE Z JAKICHKOLWIEK ROSZCZEŃ
                                                UŻYTKOWNIKA
                                                WOBEC PODMIOTÓW ZEWNĘTRZNYCH LUB ZWIĄZANE Z TAKIMI ROSZCZENIAMI.
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile is-ancestor">
                            <div class="tile is-vertical is-12">
                                <div class="tile">
                                    <div class="tile is-parent is-vertical">
                                        <article class="tile is-child notification is-danger">
                                            <h1 class="title" id="take responsibility">Przejęcie odpowiedzialności </h1>
                                            <p>
                                                Użytkownik (oraz wszelkie podmioty zewnętrzne, dla których
                                                użytkownik
                                                prowadzi
                                                konto
                                                lub działania w serwisie) zobowiązuje się bronić (na prośbę serwisu
                                                liqster.pl),
                                                zabezpieczyć i chronić podmioty po stronie serwisu liqster.pl przed
                                                wszelkimi
                                                roszczeniami, odpowiedzialnością, szkodami, stratami oraz wydatkami,
                                                w
                                                tym
                                                między
                                                innymi uzasadnionym wynagrodzeniem dla adwokata oraz kosztami
                                                prawnymi,
                                                które
                                                wynikają z postępowania użytkownika należącego do następujących
                                                kategorii (w tym
                                                są
                                                wynikiem bezpośrednich działań użytkownika podczas korzystania z
                                                serwisu
                                                lub
                                                działań
                                                przeprowadzonych w jego imieniu): (i) treści zamieszczane przez
                                                użytkownika lub
                                                korzystanie przez użytkownika z serwisu i uzyskiwanie do niego
                                                dostępu;
                                                (ii)
                                                naruszenie lub domniemane naruszenie przez użytkownika postanowień
                                                niniejszego
                                                Regulaminu; (iii) naruszenie przez użytkownika jakichkolwiek praw
                                                podmiotów
                                                zewnętrznych, w tym między innymi wszelkich praw własności
                                                intelektualnej,
                                                ochrony
                                                wizerunku, poufności, własności lub prywatności; (iv) naruszenie
                                                jakichkolwiek
                                                praw,
                                                zasad, regulacji, kodeksów, rozporządzeń lub postanowień organizacji
                                                rządowych i
                                                regulacyjnych, w tym między innymi organizacji administracji
                                                państwowej,
                                                organów
                                                ustawodawczych i regulacyjnych; lub (v) nieprawidłowe przedstawienie
                                                informacji
                                                przez użytkownika. Użytkownik zobowiązuje się do współpracy na
                                                prośbę
                                                serwisu
                                                liqster.pl w zakresie obrony przed wszelkimi roszczeniami. Serwis
                                                liqster.pl
                                                zastrzega sobie prawo do wyłącznej obrony i kontroli w sprawach
                                                podlegających
                                                przejęciu
                                                odpowiedzialności przez użytkownika. Użytkownik pod żadnym pozorem
                                                nie
                                                ma prawa
                                                zawierać jakiegokolwiek porozumienia w sprawie roszczenia bez
                                                wcześniejszej
                                                pisemnej
                                                zgody serwisu liqster.pl.
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile is-ancestor">
                            <div class="tile is-vertical is-12">
                                <div class="tile">
                                    <div class="tile is-parent is-vertical">
                                        <article class="tile is-child notification is-danger">
                                            <h1 class="title" id="limitation of claims">Przedawnienie się roszczeń</h1>
                                            <p>
                                                Użytkownik akceptuje zasadę, że wszystkie roszczenia wynikające z
                                                relacji
                                                użytkownika z serwisem liqster.pl muszą zostać zgłoszone w ciągu
                                                roku od
                                                ich
                                                wystąpienia, w przeciwnym wypadku ulegną one przedawnieniu.
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1 class="title" id="complaint">Postępowanie reklamacyjne</h1>
                        <ol>
                            <li>
                                <p>
                                    Użytkownik może zgłaszać reklamacje dotyczące niewykonania bądź nienależytego
                                    wykonania
                                    przez serwis liqster.pl usługi, w terminie 14 dni od dnia zakończenia ważności
                                    usługi bądź
                                    dnia, w którym usługa powinna się zakończyć.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Reklamację można złożyć za pomocą korespondencji elektronicznej na adres:
                                    pomoc@liqster.pl
                                    lub w
                                    formie listu poleconego przesłanego na adres: mtype.pl Marcin Pyrka, ul.
                                    Wolności
                                    42/4,
                                    78-650 Mirosławiec z dopiskiem "reklamacja liqster.pl".
                                </p>
                            </li>
                            <li>
                                <p>
                                    Reklamacja powinna zawierać co najmniej: imię i nazwisko, adres e-mail
                                    Użytkownika
                                    przypisany do Profilu, identyfikator konta, którego reklamacja dotyczy bądź inne
                                    dane
                                    pozwalające na identyfikację Konta, okoliczności uzasadniające reklamację, a
                                    także
                                    konkretne
                                    żądanie Użytkownika związane ze składaną reklamacją.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Jeżeli podane w reklamacji dane lub informacje wymagają uzupełnienia, Właściciel
                                    przed
                                    rozpatrzeniem reklamacji, zwróci się do Użytkownika o jej uzupełnienie we
                                    wskazanym
                                    zakresie.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Serwis liqster.pl zastrzega sobie dwa tygodnie na rozpatrzenie reklamacji. Jeśli
                                    reklamacja zostanie rozpatrzona pozytywnie serwis liqster.pl zwróci
                                    użytkownikowi
                                    wpłacone pieniądze w przeciągu 10 dni roboczych.
                                </p>
                            </li>
                        </ol>
                        <h1 class="title" id="service information">Informacje o usługach</h1>
                        <ol>
                            <li>
                                <p>
                                    Informacje o produktach dostępnych w ofercie serwisu liqster.pl stanowią
                                    zaproszenie
                                    do zawarcia umowy w rozumieniu art. 71 Kodeksu cywilnego.
                                </p>
                            </li>
                            <li>
                                <p>
                                    liqster.pl zastrzega sobie prawo do dokonywania na bieżąco zmian w cenach oraz
                                    zakresie usług.
                                </p>
                            </li>
                            <li>
                                <p>
                                    liqster.pl może przeprowadzać akcje promocyjne oraz wyprzedaże na odrębnie
                                    określonych zasadach.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Usługą oferowaną przez liqster.pl jest program symulujący aktywność, aktywny na
                                    zdefiniowanym przez użytkownika koncie, przez ustalony w ramach abonamentu okres
                                    czasu, działający na serwisie Instagram.com. liqster.pl nie ponosi
                                    odpowiedzialności
                                    w wyniku jakichkolwiek działań ze strony serwisu Instagram.com w stosunku do
                                    konta
                                    zdefiniowanego przez Użytkownika.
                                </p>
                            </li>
                        </ol>

                        <h1 class="title" id="payment">Płatność </h1>
                        <ol>
                            <li>
                                <p>
                                    Klient nie jest zobowiązany do zakupu usługi, dopóki nie dokona płatności.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Płatności dokonywane są za pośrednictwem serwisu Przelewy24.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Regulamin serwisu znajduje się w witrynie interetowej pod adresem
                                    https://www.przelewy24.pl/regulamin. Użytkownik dokonując płatności akceptuje
                                    regulamin serwisu Przelewy24.pl
                                </p>
                            </li>
                            <li>
                                <p>
                                    Kwota należna za usługę jest zdefiniowana zależnie od rodzaju abonamentu
                                    wybieranego
                                    przez Użytkownika. Użytkownik jest poinformowany o cenach poszczególnych
                                    abonamentów.
                                </p>
                            </li>
                        </ol>
                        <h1 class="title" id="final provisions">Postanowienia końcowe</h1>
                        <ol>
                            <li>
                                <p>
                                    Wszelkie spory związane z usługami świadczonymi przez mtype.pl w ramach serwisu
                                    liqster.pl
                                    będą rozstrzygane przez właściwe polskie sądy powszechne.
                                </p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}
