{% extends '@LiqsterHomePage/Email/base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
Aktywacja konta
{%- endautoescape -%}
{% endblock %}

{% block content %}
        <h2>Witaj, {{ user.username }}</h2>
        <p>Aktywowaliśmy konto</p>
{% endblock %}
