{% extends '@LiqsterHomePage/Email/base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
Powiadomienie
{%- endautoescape -%}
{% endblock %}

{% block content %}
        <h2>Witaj, {{ user.username }}</h2>
        <p>Przykładowe powiadomienie</p>
{% endblock %}
