html {
    overflow-y: scroll;
    height: 100%;
    min-height: 100%;
}

body {
    font-weight: 200;
    height: 100%;
    min-height: 100%;
    font-size: 1rem;
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1, h2, h3, h4, .title, .subtitle, .label, .card-header-title {
    font-weight: 200;
}

.profile .card {
    margin: 1rem 0;
}

.tagline {
    padding: 20px 0;
    font-size: 16px;
    line-height: 1.4;
}

.avatar {
    float: right;
}

.follow {
    float: right;
}

.avatar img {
    border-radius: 200px;
}

p.title.is-bold {
    font-weight: bold;
}

.card .timestamp {
    float: right;
    color: #bbb;
}

.columns .account {
    margin-top: 2rem;
}

.opacity-30 {
    background-color: rgba(255, 255, 255, 0.3);
}

.terms p {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    line-height: 2.0;
}

.intro-logged-list li {
    margin-top: 1.0rem;

}
