html {
    overflow-y: scroll;
    height: 100%;
    min-height: 100%;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    min-height: 100%;
    font-size: 1.4rem;
    background-color: #f4f4f4;
}

.full-section {
    background: no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 105%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    /*min-height: 55rem;*/
}

.intro-section {
    background-image: url("../../asset/img/bg-nz-1.jpg");
}

.intro-section .jumbotron {
    min-height: 35rem;
    background-color: rgba(0, 0, 0, 0.15) !important;
    color: #f7f7f7;
}

.price-section {
    background-image: url(http://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
}

.price-section .card {
    min-height: 35rem;
    background-color: rgba(0, 0, 0, 0.15) !important;
    color: #f7f7f7;
}

.price-section .card-footer {
    background-color: rgba(0, 0, 0, 0.05) !important;
    color: #f7f7f7;
}

.navbar-toggleable-md {
    min-height: 5rem;
}

.valign-center {
    height: 100%;
    vertical-align: middle;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.fixed-action-btn {
    float: right;
    position: relative;
    left: -1.25rem;
    bottom: 2rem;
    z-index: 0;
}

.navbar-fixed {
    z-index: 20;
}
