html {
    overflow-y: scroll;
    height: 100%;
    min-height: 100%;
}

body {
    font-weight: 200;
    height: 100%;
    min-height: 100%;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 2rem;
}

.nav {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
}
