{% extends '@LiqsterHomePage/Profile/index.html.twig' %}

{% block body_on_single_page %}

    <div class="columns">
        <div class="column">
            <p class="title is-4">Płatności</p>

            <p class="title is-5">Nadchodzące</p>

            <hr>

            <p class="title is-5">Dokonane</p>

            {% for purchase in purchases %}
                <p>Konto: {{ purchase.account.name }}</p>
                <p>Płatność: {{ purchase.payment.P24OrderId }}</p>
                {% if not loop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
