{% extends '@LiqsterHomePage/Profile/index.html.twig' %}

{% block body_on_single_page %}
    <div class="columns">
        <div class="column">
            <h1>deactivatedAccounts</h1>

            {{ dump(deactivatedAccounts) }}
        </div>
    </div>
{% endblock %}
