{% extends '@LiqsterHomePage/Profile/index.html.twig' %}

{% block body_on_single_page %}

    <div class="columns">
        <div class="column">
            <h1>deactivatedAccounts</h1>
        </div>
    </div>

    {% for deactivatedAccount in deactivatedAccounts %}

        <div class="columns">
            <div class="column">
                <p>{{ deactivatedAccount.name }} - <a
                            href="{{ path('account_delete_force', { 'id': deactivatedAccount.id }) }}">Bajubaj
                        na stałe...</a></p>
            </div>
        </div>

    {% endfor %}

{% endblock %}