{% extends '@LiqsterHomePage/base.html.twig' %}

{% block body %}
    <section id="price" class="hero is-fullheight is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-header-title">#tagi</div>
                            </div>
                            <div class="card-content">
                                <div class="columns">
                                    <div class="column is-7">
                                        {{ form_start(edit_tags_form) }}

                                        {{ form_widget(edit_tags_form.tagsText, { 'attr': {'class': 'select_tags'} }) }}

                                        <div class="field is-grouped is-pulled-right">
                                            <p class="control">
                                                <input class="button is-primary is-centered" type="submit"
                                                       value="Zapisz dane">
                                            </p>
                                        </div>

                                        {{ form_end(edit_tags_form) }}
                                    </div>
                                    <div class="column is-5">
                                        {% include '@LiqsterHomePage/Account/tags.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts_on_single_page %}
{% endblock %}
