<div class="container">
    <div class="columns">
        <div class="column" id="tabs">
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li>
                        <a href="#tabs-1">
                            <span>Uniwersalne</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tabs-2">
                            <span>Motywacyjne</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tabs-3">
                            <span>Lifestylowe</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tabs-4">
                            <span>Urodowe</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tabs-5">
                            <span>Fotograficzne</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tabs-6">
                            <span>Artystyczne</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tabs-7">
                            <span>Czytelnicze</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tabs-8">
                            <span>Polskojęzyczne</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container" id="tabs-1">
                <a class="tag is-light is-medium tag_to_add">polishgirl</a>
                <a class="tag is-light is-medium tag_to_add">polishboy</a>
                <a class="tag is-light is-medium tag_to_add">poland</a>
                <a class="tag is-light is-medium tag_to_add">cracov</a>
                <a class="tag is-light is-medium tag_to_add">warsaw</a>
                <a class="tag is-light is-medium tag_to_add">mood</a>
                <a class="tag is-light is-medium tag_to_add">instagood</a>
                <a class="tag is-light is-medium tag_to_add">love</a>
                <a class="tag is-light is-medium tag_to_add">happy</a>
                <a class="tag is-light is-medium tag_to_add">selfie</a>
                <a class="tag is-light is-medium tag_to_add">photooftheday</a>
                <a class="tag is-light is-medium tag_to_add">instagram</a>
                <a class="tag is-light is-medium tag_to_add">photo</a>
                <a class="tag is-light is-medium tag_to_add">l4l</a>
                <a class="tag is-light is-medium tag_to_add">instapic</a>
                <a class="tag is-light is-medium tag_to_add">holiday</a>
                <a class="tag is-light is-medium tag_to_add">summer</a>
                <a class="tag is-light is-medium tag_to_add">coffe</a>
                <a class="tag is-light is-medium tag_to_add">food</a>
                <a class="tag is-light is-medium tag_to_add">work</a>
                <a class="tag is-light is-medium tag_to_add">rest</a>
                <a class="tag is-light is-medium tag_to_add">women</a>
                <a class="tag is-light is-medium tag_to_add">men</a>
                <a class="tag is-light is-medium tag_to_add">summer</a>
                <a class="tag is-light is-medium tag_to_add">cute</a>
                <a class="tag is-light is-medium tag_to_add">followme</a>
                <a class="tag is-light is-medium tag_to_add">likeforlike</a>
                <a class="tag is-light is-medium tag_to_add">instadaily</a>
                <a class="tag is-light is-medium tag_to_add">nature</a>
                <a class="tag is-light is-medium tag_to_add">amazing</a>
                <a class="tag is-light is-medium tag_to_add">bestday</a>
                <a class="tag is-light is-medium tag_to_add">dog</a>
                <a class="tag is-light is-medium tag_to_add">sunset</a>
                <a class="tag is-light is-medium tag_to_add">party</a>
                <a class="tag is-light is-medium tag_to_add">cool</a>
                <a class="tag is-light is-medium tag_to_add">mornning</a>
                <a class="tag is-light is-medium tag_to_add">night</a>
                <a class="tag is-light is-medium tag_to_add">goodday</a>
                <a class="tag is-light is-medium tag_to_add">nofilter</a>
                <a class="tag is-light is-medium tag_to_add">natural</a>
                <a class="tag is-light is-medium tag_to_add">bday</a>
                <a class="tag is-light is-medium tag_to_add">birthday</a>
                <a class="tag is-light is-medium tag_to_add">family</a>
                <a class="tag is-light is-medium tag_to_add">insta</a>
            </div>
            <div class="container" id="tabs-2">
                <a class="tag is-light is-medium tag_to_add">fit</a>
                <a class="tag is-light is-medium tag_to_add">fitness</a>
                <a class="tag is-light is-medium tag_to_add">fitgirl</a>
                <a class="tag is-light is-medium tag_to_add">fitbody</a>
                <a class="tag is-light is-medium tag_to_add">workout</a>
                <a class="tag is-light is-medium tag_to_add">motivation</a>
                <a class="tag is-light is-medium tag_to_add">healthy</a>
                <a class="tag is-light is-medium tag_to_add">healthyfood</a>
                <a class="tag is-light is-medium tag_to_add">healthylife</a>
                <a class="tag is-light is-medium tag_to_add">training</a>
                <a class="tag is-light is-medium tag_to_add">transformation</a>
                <a class="tag is-light is-medium tag_to_add">weightloss</a>
                <a class="tag is-light is-medium tag_to_add">diet</a>
                <a class="tag is-light is-medium tag_to_add">bodybulding</a>
                <a class="tag is-light is-medium tag_to_add">muscle</a>
                <a class="tag is-light is-medium tag_to_add">gym</a>
                <a class="tag is-light is-medium tag_to_add">gymtime</a>
                <a class="tag is-light is-medium tag_to_add">progress</a>
                <a class="tag is-light is-medium tag_to_add">zumba</a>
                <a class="tag is-light is-medium tag_to_add">crossfit</a>
                <a class="tag is-light is-medium tag_to_add">athlete</a>
            </div>
            <div class="container" id="tabs-3">
                <a class="tag is-light is-medium tag_to_add">fashion</a>
                <a class="tag is-light is-medium tag_to_add">ootd</a>
                <a class="tag is-light is-medium tag_to_add">outfit</a>
                <a class="tag is-light is-medium tag_to_add">design</a>
                <a class="tag is-light is-medium tag_to_add">liveauthentic</a>
                <a class="tag is-light is-medium tag_to_add">inspiration</a>
                <a class="tag is-light is-medium tag_to_add">fashionblogger</a>
                <a class="tag is-light is-medium tag_to_add">lifestyle</a>
                <a class="tag is-light is-medium tag_to_add">fashionlife</a>
                <a class="tag is-light is-medium tag_to_add">designer</a>
                <a class="tag is-light is-medium tag_to_add">instafashion</a>
                <a class="tag is-light is-medium tag_to_add">tbt</a>
                <a class="tag is-light is-medium tag_to_add">vintage</a>
                <a class="tag is-light is-medium tag_to_add">colorful</a>
                <a class="tag is-light is-medium tag_to_add">modern</a>
                <a class="tag is-light is-medium tag_to_add">vsco</a>
                <a class="tag is-light is-medium tag_to_add">vscocam</a>
            </div>
            <div class="container" id="tabs-4">
                <a class="tag is-light is-medium tag_to_add">makeup</a>
                <a class="tag is-light is-medium tag_to_add">mua</a>
                <a class="tag is-light is-medium tag_to_add">makeuplover</a>
                <a class="tag is-light is-medium tag_to_add">makeupaddicted</a>
                <a class="tag is-light is-medium tag_to_add">lashes</a>
                <a class="tag is-light is-medium tag_to_add">instanails</a>
                <a class="tag is-light is-medium tag_to_add">nailstagram</a>
                <a class="tag is-light is-medium tag_to_add">manicure</a>
                <a class="tag is-light is-medium tag_to_add">semilac</a>
                <a class="tag is-light is-medium tag_to_add">neonail</a>
                <a class="tag is-light is-medium tag_to_add">nails</a>
                <a class="tag is-light is-medium tag_to_add">cosmetics</a>
                <a class="tag is-light is-medium tag_to_add">hair</a>
                <a class="tag is-light is-medium tag_to_add">hairstyle</a>
                <a class="tag is-light is-medium tag_to_add">haircut</a>
                <a class="tag is-light is-medium tag_to_add">hairstylist</a>
                <a class="tag is-light is-medium tag_to_add">beuty</a>
                <a class="tag is-light is-medium tag_to_add">instabeuty</a>
                <a class="tag is-light is-medium tag_to_add">beutyblogger</a>
                <a class="tag is-light is-medium tag_to_add">rlm</a>
                <a class="tag is-light is-medium tag_to_add">kyliecosmetics</a>
                <a class="tag is-light is-medium tag_to_add">katvondbeauty</a>
                <a class="tag is-light is-medium tag_to_add">hudabeuty</a>
                <a class="tag is-light is-medium tag_to_add">sephora</a>
                <a class="tag is-light is-medium tag_to_add">skincare</a>
            </div>
            <div class="container" id="tabs-5">
                <a class="tag is-light is-medium tag_to_add">photo</a>
                <a class="tag is-light is-medium tag_to_add">photography</a>
                <a class="tag is-light is-medium tag_to_add">photographer</a>
                <a class="tag is-light is-medium tag_to_add">digitalart</a>
                <a class="tag is-light is-medium tag_to_add">photoedit</a>
                <a class="tag is-light is-medium tag_to_add">nikon</a>
                <a class="tag is-light is-medium tag_to_add">canon</a>
                <a class="tag is-light is-medium tag_to_add">model</a>
                <a class="tag is-light is-medium tag_to_add">shoot</a>
                <a class="tag is-light is-medium tag_to_add">photosessions</a>
                <a class="tag is-light is-medium tag_to_add">portrait</a>
                <a class="tag is-light is-medium tag_to_add">landscape</a>
                <a class="tag is-light is-medium tag_to_add">artofvisuals</a>
                <a class="tag is-light is-medium tag_to_add">portraitpage</a>
                <a class="tag is-light is-medium tag_to_add">visualofearth</a>
            </div>
            <div class="container" id="tabs-6">
                <a class="tag is-light is-medium tag_to_add">art</a>
                <a class="tag is-light is-medium tag_to_add">artist</a>
                <a class="tag is-light is-medium tag_to_add">artistic</a>
                <a class="tag is-light is-medium tag_to_add">artwork</a>
                <a class="tag is-light is-medium tag_to_add">artisticlife</a>
                <a class="tag is-light is-medium tag_to_add">instaart</a>
                <a class="tag is-light is-medium tag_to_add">painting</a>
                <a class="tag is-light is-medium tag_to_add">paint</a>
                <a class="tag is-light is-medium tag_to_add">draw</a>
                <a class="tag is-light is-medium tag_to_add">scetch</a>
                <a class="tag is-light is-medium tag_to_add">digitalart</a>
                <a class="tag is-light is-medium tag_to_add">ilustration</a>
                <a class="tag is-light is-medium tag_to_add">drawing</a>
                <a class="tag is-light is-medium tag_to_add">design</a>
                <a class="tag is-light is-medium tag_to_add">pencils</a>
                <a class="tag is-light is-medium tag_to_add">music</a>
                <a class="tag is-light is-medium tag_to_add">band</a>
                <a class="tag is-light is-medium tag_to_add">guitar</a>
                <a class="tag is-light is-medium tag_to_add">drum</a>
                <a class="tag is-light is-medium tag_to_add">bass</a>
                <a class="tag is-light is-medium tag_to_add">sing</a>
                <a class="tag is-light is-medium tag_to_add">singer</a>
                <a class="tag is-light is-medium tag_to_add">vocalist</a>
            </div>
            <div class="container" id="tabs-7">
                <a class="tag is-light is-medium tag_to_add">books</a>
                <a class="tag is-light is-medium tag_to_add">bookslover</a>
                <a class="tag is-light is-medium tag_to_add">bookstagram</a>
                <a class="tag is-light is-medium tag_to_add">bookaddict</a>
                <a class="tag is-light is-medium tag_to_add">bookish</a>
                <a class="tag is-light is-medium tag_to_add">bookporn</a>
                <a class="tag is-light is-medium tag_to_add">bookshelf</a>
                <a class="tag is-light is-medium tag_to_add">reading</a>
                <a class="tag is-light is-medium tag_to_add">readinglist</a>
                <a class="tag is-light is-medium tag_to_add">bibliophile</a>
                <a class="tag is-light is-medium tag_to_add">instabook</a>
                <a class="tag is-light is-medium tag_to_add">lovebook</a>
                <a class="tag is-light is-medium tag_to_add">novel</a>
                <a class="tag is-light is-medium tag_to_add">libray</a>
                <a class="tag is-light is-medium tag_to_add">librayroom</a>
            </div>
            <div class="container" id="tabs-8">
                <a class="tag is-light is-medium tag_to_add">polska</a>
                <a class="tag is-light is-medium tag_to_add">polka</a>
                <a class="tag is-light is-medium tag_to_add">polak</a>
                <a class="tag is-light is-medium tag_to_add">warszawa</a>
                <a class="tag is-light is-medium tag_to_add">kraków</a>
                <a class="tag is-light is-medium tag_to_add">pyszne</a>
                <a class="tag is-light is-medium tag_to_add">zdjęcie</a>
                <a class="tag is-light is-medium tag_to_add">wieczór</a>
                <a class="tag is-light is-medium tag_to_add">miłość</a>
                <a class="tag is-light is-medium tag_to_add">kocham</a>
                <a class="tag is-light is-medium tag_to_add">polskadziewczyna</a>
                <a class="tag is-light is-medium tag_to_add">polskichłopak</a>
                <a class="tag is-light is-medium tag_to_add">odpoczynek</a>
                <a class="tag is-light is-medium tag_to_add">praca</a>
                <a class="tag is-light is-medium tag_to_add">wakacje</a>
                <a class="tag is-light is-medium tag_to_add">słonće</a>
                <a class="tag is-light is-medium tag_to_add">sukienka</a>
                <a class="tag is-light is-medium tag_to_add">stylówa</a>
                <a class="tag is-light is-medium tag_to_add">makijaż</a>
                <a class="tag is-light is-medium tag_to_add">figura</a>
                <a class="tag is-light is-medium tag_to_add">dziewczyna</a>
                <a class="tag is-light is-medium tag_to_add">chłopak</a>
                <a class="tag is-light is-medium tag_to_add">przyjaciele</a>
                <a class="tag is-light is-medium tag_to_add">impreza</a>
                <a class="tag is-light is-medium tag_to_add">miasto</a>
                <a class="tag is-light is-medium tag_to_add">ulica</a>
                <a class="tag is-light is-medium tag_to_add">morze</a>
                <a class="tag is-light is-medium tag_to_add">jezioro</a>
                <a class="tag is-light is-medium tag_to_add">widok</a>
                <a class="tag is-light is-medium tag_to_add">student</a>
                <a class="tag is-light is-medium tag_to_add">studentka</a>
                <a class="tag is-light is-medium tag_to_add">szkoła</a>
                <a class="tag is-light is-medium tag_to_add">uczelnia</a>
            </div>
        </div>
    </div>
</div>
