<p>
    Wypisz #tagi, po których ma poruszać się liqster. Wymieniaj je po
    przecinkach. Ustal od 10 do 30 #tagów.
</p>
<hr>
<h3>Polecane #tagi:</h3>
<a class="tag is-light is-medium tag_to_add">polishgirl</a>
<a class="tag is-light is-medium tag_to_add">poland</a>
<a class="tag is-light is-medium tag_to_add">polishboy</a>
<a class="tag is-light is-medium tag_to_add">najlepsze</a>
<a class="tag is-light is-medium tag_to_add">kocham</a>
<a class="tag is-light is-medium tag_to_add">moja</a>
<a class="tag is-light is-medium tag_to_add">bardzo</a>
