<a class="tag is-light is-medium tag_to_add"
   data-content="polishgirl,
                polishboy,
                poland,
                mood,
                instagood,
                love,
                happy,
                selfie,
                photooftheday,
                instagram,
                photo,
                l4l,
                instapic,
                holiday,
                work,
                rest,
                summer,
                followme,
                likeforlike,
                instadaily,
                amazing,
                sunset,
                cool,
                goodday,
                nofilter,
                natural,
                insta">
    <span>Uniwersalne</span>
</a>
<a class="tag is-light is-medium tag_to_add"
   data-content="fit,
   fitness,
fitgirl,
fitbody,
workout,
motivation,
healthy,
healthyfood,
healthylife,
training,
transformation,
weightloss,
diet,
bodybulding,
muscle,
gym,
gymtime,
progress,
zumba,
crossfit,
athlete">
    <span>Motywacyjne</span>
</a>
<a class="tag is-light is-medium tag_to_add"
   data-content=" fashion,
 ootd,
 outfit,
 design,
 liveauthentic,
 inspiration,
 fashionblogger,
 lifestyle,
 fashionlife,
 designer,
 instafashion,
 tbt,
 vintage,
 colorful,
 modern,
 vsco,
 vscocam">
    <span>Lifestylowe</span>
</a>
<a class="tag is-light is-medium tag_to_add"
   data-content="makeup,
            mua,
            makeuplover,
            makeupaddicted,
            lashes,
            instanails,
            nailstagram,
            manicure,
            semilac,
            neonail,
            nails,
            cosmetics,
            hair,
            hairstyle,
            haircut,
            hairstylist,
            beuty,
            instabeuty,
            beutyblogger,
            rlm,
            kyliecosmetics,
            katvondbeauty,
            hudabeuty,
            sephora,
            skincare">
    <span>Urodowe</span>
</a>
<a class="tag is-light is-medium tag_to_add"
   data-content="photo,
         photography,
         photographer,
         digitalart,
         photoedit,
         nikon,
         canon,
         model,
         shoot,
         photosessions,
         portrait,
         landscape,
         artofvisuals,
         portraitpage,
         visualofearth">
    <span>Fotograficzne</span>
</a>
<a class="tag is-light is-medium tag_to_add"
   data-content="art,
       artist,
       artistic,
       artwork,
       artisticlife,
       instaart,
       painting,
       paint,
       draw,
       scetch,
       digitalart,
       ilustration,
       drawing,
       design,
       pencils,
       music,
       band,
       guitar,
       drum,
       bass,
       sing,
       singer,
       vocalist">
    <span>Artystyczne</span>
</a>
<a class="tag is-light is-medium tag_to_add"
   data-content="books,
        bookslover,
        bookstagram,
        bookaddict,
        bookish,
        bookporn,
        bookshelf,
        reading,
        readinglist,
        bibliophile,
        instabook,
        lovebook,
        novel,
        libray,
        librayroom">
    <span>Czytelnicze</span>
</a>
<a class="tag is-light is-medium tag_to_add"
   data-content="polska,
         polka,
         polak,
         warszawa,
         kraków,
         pyszne,
         zdjęcie,
         wieczór,
         miłość,
         kocham,
         polskadziewczyna,
         polskichłopak,
         odpoczynek,
         praca,
         wakacje,
         słonće,
         figura,
         dziewczyna,
         chłopak,
         przyjaciele,
         widok,
         student,
         studentka,
         szkoła,
         uczelnia">
    <span>Polskojęzyczne</span>
</a>
