<div class="container">
    <div class="columns">
        <div class="column" id="tabs">
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li>
                        <a href="#tabs-1">
                            <span>Pictures</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tabs-2">
                            <span>Music</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tabs-3">
                            <span>Videos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tabs-4">
                            <span>Documents</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container" id="tabs-1">
                <a class="tag is-light is-medium tag_to_add">polishgirl</a>
                <a class="tag is-light is-medium tag_to_add">poland</a>
                <a class="tag is-light is-medium tag_to_add">polishboy</a>
                <a class="tag is-light is-medium tag_to_add">najlepsze</a>
                <a class="tag is-light is-medium tag_to_add">kocham</a>
                <a class="tag is-light is-medium tag_to_add">moja</a>
                <a class="tag is-light is-medium tag_to_add">bardzo</a>
            </div>
            <div class="container" id="tabs-2">
                <a class="tag is-light is-medium tag_to_add">1</a>
                <a class="tag is-light is-medium tag_to_add">2</a>
                <a class="tag is-light is-medium tag_to_add">3</a>
                <a class="tag is-light is-medium tag_to_add">4</a>
                <a class="tag is-light is-medium tag_to_add">8</a>
                <a class="tag is-light is-medium tag_to_add">9</a>
                <a class="tag is-light is-medium tag_to_add">0</a>
            </div>
        </div>
    </div>
</div>
