<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{% block title %}{{ 'apps.title'|trans({}, 'main') }}{% endblock %}</title>

    {% block headers %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    {% endblock %}
    {% block stylesheets %}

        {% stylesheets 'css/bootstrap.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

    {% endblock %}
</head>
<body>

{% block dorz_navigation %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    {% else %}

    {% endif %}
{% endblock %}

{% block dorz_header %}
{% endblock %}

{% block fos_user_content %}
{% endblock %}

{% block body %}{% endblock %}

{% block dorz_footer %}
{% endblock %}



{% block javascripts %}

    {% javascripts 'js/jquery.min.js' 'js/bootstrap.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

</body>
</html>
