{% block form_row %}
    {% spaceless %}
        <div class="container-fluid">
            <div class="form-group row">
                {{ form_errors(form) }}
                {{ form_label(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}
