{% block form_row %}
    <div class="columns">
        <div class="column">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_label(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock form_row %}
